## Update 02/05/2019 
## เปลี่ยนวันใน predictcon ไปใช้ Timedelta
## แก้ไข error code ใน code หลักตรงสัญลักษณ์ loc และเพิ่ม start=1

## Update 03/05/2019
## แก้โค๊ดเพื่อให้ทำนายการใช้ใน PI ได้

import อะไรบ้าง pip install

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime
import requests
import json
import os
from sqlalchemy import create_engine
import pymysql
%matplotlib inline
%config InlineBackend.figure_format='retina'

In [5]:
from gpiozero import LED

ModuleNotFoundError: No module named 'gpiozero'

In [6]:
import time

In [7]:
from statsmodels.tsa.holtwinters import ExponentialSmoothing, Holt

In [16]:
def dutycyclemode(rawdata,percent_batt):
    import datetime
    batt=percent_batt*96
    Consumption_afterPV=[]
    Charge=[]
    for i in rawdata.index:
        if rawdata.loc[i,'Generation']>=rawdata.loc[i,'Consumption']:
            Charge.append(rawdata.loc[i,'Generation']-rawdata.loc[i,'Consumption'])
            Consumption_afterPV.append(0)
        else:
            Charge.append(0)
            Consumption_afterPV.append(rawdata.loc[i,'Consumption']-rawdata.loc[i,'Generation'])    

    rawdata['Charge']=Charge
    rawdata['Consumption_afterPV']=Consumption_afterPV

    totalcharge=rawdata['Charge'].sum()/4

    datanotstart=rawdata[rawdata.Generation==0]
    dataonlystart=rawdata[rawdata.Generation!=0]
    start_time=dataonlystart.index[0]
    consumption_night=rawdata.loc[:start_time,'Consumption'].sum()/4

    if totalcharge+batt>9600:
        discharge_only_at_night=1
        if batt-consumption_night>0.6*9600:
            batt_start=batt-consumption_night
        else:
            batt_start=0.6*9600
    else:
        discharge_only_at_night=0
        batt_start=percent_batt*96

    contactor=[]

    for i in rawdata[rawdata.index[0]:start_time].drop(start_time).index:
        if discharge_only_at_night==1:
            contactor.append(1)
        else:
            contactor.append(0)
            
    lastchargetime=rawdata[rawdata['Charge']!=0].index[-1]
    stop_time=lastchargetime+pd.Timedelta('15 min')
    remain=batt_start-9600*0.6
    overcharge=batt_start+totalcharge-9600
    
    for i in rawdata[start_time:lastchargetime].index:
        if rawdata.loc[i,'Charge'] > 0:
            contactor.append(1)
            remain += rawdata.loc[i,'Charge']/4
        elif overcharge <= 0:
            contactor.append(0)
        elif remain==0:
            contactor.append(0)
        else:
            contactor.append(1)
            overcharge=overcharge-(rawdata.loc[i,'Consumption']-rawdata.loc[i,'Generation'])/4

    for i in rawdata[stop_time:].index:
        contactor.append(0)
        
    rawdata['Contactor']=contactor
        
    battleft=(percent_batt-60)*96*4
    rawdata['Discharge']=rawdata['Contactor']*0
    for i in rawdata.index:
        if rawdata.loc[i,'Contactor']==1:
            if rawdata.loc[i,'Charge'] != 0:
                battleft=battleft+rawdata.loc[i,'Charge']
            else:
                if battleft >= rawdata.loc[i,'Consumption_afterPV']:
                    rawdata.loc[i,'Discharge']= rawdata.loc[i,'Consumption_afterPV']
                    battleft=battleft- rawdata.loc[i,'Consumption_afterPV']
                else:
                    rawdata.loc[i,'Discharge']=battleft
                    battleft=0
                    
                    
    checkcharge=(percent_batt-60)*96*4
    cclist=[]
    for i in rawdata.index:
        if rawdata.loc[i,'Contactor']==1:
            if rawdata.loc[i,'Charge'] != 0 :
                if checkcharge+rawdata.loc[i,'Charge']>=40*96*4:
                    rawdata.loc[i,'Charge']=40*96*4-checkcharge
                    checkcharge=40*96*4
                    cclist.append(checkcharge)
                else:
                    checkcharge+=rawdata.loc[i,'Charge']
                    cclist.append(checkcharge)
            elif rawdata.loc[i,'Discharge'] != 0:
                if checkcharge-rawdata.loc[i,'Discharge']<=0:
                    rawdata.loc[i,'Discharge']=checkcharge
                    checkcharge=0
                    cclist.append(checkcharge)
                else:    
                    checkcharge = checkcharge - rawdata.loc[i,'Discharge']
                    cclist.append(checkcharge)
            else:
                cclist.append(checkcharge)
        else:
            cclist.append(checkcharge)
    rawdata['Batt_above60%']=cclist
    newpercent_batt=percent_batt+(rawdata.Charge.sum()-rawdata.Discharge.sum())/4/96
    return [rawdata,newpercent_batt]

## Create Predict_generation function name predictgen

In [17]:
def createDayDataframe(filename):
    path = "tongsdata/"
    filedate = filename.split(".")[0].split("-")

    with open(path + filename, 'r', encoding='utf-8') as fin:
        data_json = json.loads(fin.read())

    #  Create X DataFrame
    todayData = {time: data_json[time]['currently'] for time in data_json}
    todayData_DF = pd.DataFrame(todayData).T

    #  Create y DataFrame
    energyBalanceFilename = "energyBalance/Energy_Balance_{}_{}_{}.csv".format(filedate[0], filedate[1], filedate[2]) #change due to json filename
    energyBalance = pd.read_csv(path + energyBalanceFilename, delimiter=";")

    energyBalance_DF = pd.DataFrame(index=energyBalance.iloc[:-1,0].apply(lambda x: x[2:-1]))
    energyBalance_DF['PV Power Generation'] = energyBalance['PV power generation / Mean values [W]  '].values[:-1]
    energyBalance_DF = energyBalance_DF[energyBalance_DF != ' ']
    energyBalance_DF = energyBalance_DF.dropna()

    #  Join X y DataFrame
    data = todayData_DF.join(energyBalance_DF)
    return data

def cleanDataframe(masterDF):
    masterData_cleaned = masterDF.reset_index()
    masterData_cleaned = masterData_cleaned.rename(columns={'index': 'time_of_day'})
    masterData_cleaned = masterData_cleaned[masterData_cleaned['PV Power Generation'].notna()]
    #masterData_cleaned['month'] = masterData_cleaned['time'].apply(datetime.datetime.fromtimestamp).apply(lambda x: x.month)
    masterData_cleaned['cloudCover'] = masterData_cleaned['cloudCover'].fillna(value=masterData_cleaned['cloudCover'].mean())
    masterData_cleaned['PV Power Generation'] = masterData_cleaned['PV Power Generation'].apply(lambda x: x.replace(",", "")).astype('float')
    return masterData_cleaned

def featureEngineering(masterDF):
    masterDF = masterDF.drop(columns=['icon', 'summary', 'time', 'windBearing', 'windGust', 'ozone', 'precipIntensity', 'precipProbability','pressure', 'precipType'])
    #masterDF = pd.get_dummies(masterDF, columns=['time_of_day', 'precipType', 'uvIndex', 'month'])
    masterDF = pd.get_dummies(masterDF, columns=['time_of_day'])
    return masterDF

Darksky key : 2b423d0c90e52bb805ccf6af1f305d7c ,bf11a6cc1e3fb105f612b086f6cefe19

In [ ]:
def callApi(date):
    key = "bf11a6cc1e3fb105f612b086f6cefe19"
    latitude = "13.8282"
    longitude = "100.614"
    
    url = "https://api.darksky.net/forecast/{}/{},{}".format(key, latitude, longitude) +"?exclude=currently,minutely,daily"
    
    response = requests.get(url=url)
    return response

In [19]:
def one_month(month, year):
    date = datetime.datetime(year=year, month=month, day=1) #change day here
    nextMonth = date.month + 1
    while(date.month != nextMonth):
        yield date
        date = date + datetime.timedelta(days=1)   
        
def one_day(date):
    tomorrow = date + datetime.timedelta(days=1)
    while(date.day != tomorrow.day):
        yield date
        date = date + datetime.timedelta(minutes=15)

In [20]:
def write_json(filename, data):
    with open("DarkskyForecastDay/" + filename + ".json", "w", encoding='utf-8') as fout:
        fout.write(json.dumps(data))

In [ ]:
def loadjson(predict_date):
    date = pd.to_datetime(predict_date)
    filename = date.strftime("%Y-%m-%d") #change to Y-m-d because file will arrange better
    result = callApi(date)
    d = json.loads(result.text)
    df = pd.DataFrame.from_dict(d['hourly']['data'])
    df['time'] = pd.to_datetime(df['time'],unit='s')
    df.set_index('time',inplace=True)
    df1 = df[filename]
    newdf = pd.DataFrame(np.repeat(df1.values,4,axis=0))
    newdf.columns = df1.columns
    
    maketime = []
    date = predict_date.replace("_","-")
    date = pd.to_datetime(date)
    tomorrow = date + datetime.timedelta(days=1)
    while(date.day != tomorrow.day):
        a = date.strftime("%H:%M")
        maketime.append(a)
        date = date + datetime.timedelta(minutes=15)
    newdf["time"] = maketime
    newdf.set_index('time',inplace=True)
    savetojson = newdf.to_json(r'C:\Users\User\Documents\Senior-Project\Testdate/' + filename + '.json')

In [553]:
def predictgen(predict_date):
    path = "Testdate/" #from load into file above
    filename = predict_date.replace("_",'-') + '.json'
    
    with open(path + filename, 'r', encoding='utf-8') as fin:
        data_json = json.loads(fin.read())
    
    todayData = {time: data_json[time]['currently'] for time in data_json}
    todayData_DF = pd.DataFrame(todayData).T
    todayData_DF.index.names=['time_of_day']
    todayData_DF = todayData_DF.loc['06:30':'18:00']
    todayData_DF = todayData_DF.reset_index()
    todayData_DF['cloudCover'] = todayData_DF['cloudCover'].fillna(value=todayData_DF['cloudCover'].mean())
    dropcolumns=['icon', 'summary', 'time', 'windBearing', 'windGust', 'ozone', 'precipIntensity', 'precipProbability','pressure','precipType']
    for i in dropcolumns:
        if i in todayData_DF.columns:
            todayData_DF = todayData_DF.drop(columns=[i])
    todayData_DF = pd.get_dummies(todayData_DF, columns=['time_of_day'])

    masterData_for_predict = masterData.drop(columns=['PV Power Generation'])
    for i in range(len(masterData_for_predict.columns)) : #drop power balance
        if masterData_for_predict.columns[i] not in todayData_DF.columns:
            todayData_DF.insert(i, masterData.columns[i+1], 0)
    missingvalue = todayData_DF[todayData_DF.isna().any(axis=1)].index
    
    col = ['apparentTemperature','cloudCover','dewPoint','humidity','temperature','visibility','windSpeed']
    for col in todayData_DF:
        todayData_DF[col] = pd.to_numeric(todayData_DF[col], errors='coerce')
    if todayData_DF.isna().loc[0,'uvIndex']:
        todayData_DF.loc[0,'uvIndex'] = 0
    todayData_DF=todayData_DF.interpolate(limit_direction='both')
    
    first_predict = todayData_DF.astype('float').values
    
    results_first_predict = exported_pipeline.predict(first_predict)
    results_first_predict = np.array(results_first_predict).tolist()
    for i in range(25):
        results_first_predict.insert(0,0.0)
    for j in range (24):
        results_first_predict.append(0.0)
    return results_first_predict

### รันแค่ครั้งเดียวเพื่อ fit model

In [23]:
import os
import pandas as pd
import json
import datetime

files = os.listdir("tongsdata/")

#files.remove(".DS_Store")
files.remove("energyBalance")

masterData = pd.DataFrame()

for file in files:
    r = createDayDataframe(file).loc['06:30':'18:00']
    #print(file, r.shape)
    masterData = pd.concat([masterData, r], axis=0)

masterData = cleanDataframe(masterData)
masterData = featureEngineering(masterData)

features = list(masterData.drop(columns=['PV Power Generation']).columns)

masterData = masterData.dropna()

X = masterData.drop(columns=['PV Power Generation']).astype('float').values
y = masterData['PV Power Generation'].astype('float').values


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

training_features, testing_features, training_target, testing_target = train_test_split(X, y)

# Average CV score on the training set was:-91867.4890210794
exported_pipeline = RandomForestRegressor(bootstrap=False, max_features=0.3, min_samples_leaf=1, min_samples_split=7, n_estimators=100)

exported_pipeline.fit(training_features, training_target)
results = exported_pipeline.predict(testing_features)

#from sklearn.metrics import mean_squared_error, r2_score ,mean_absolute_error
#print(mean_squared_error(testing_target, results), 
#mean_absolute_error(testing_target, results), 
#r2_score(testing_target, results))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

## PULL data consumption in list (total member = 30*96) name preconsumption

In [13]:
uid='root'
pwd=''
host='localhost'
port=3306
db='test' #change to consumption db
con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
#con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
#print(f'connection string = {con_string}')
con=create_engine(con_string)
sql = 'select * from 2018_11_01' #เปลี่ยนชื่อ table dbของพี่โอ๊คเป็นแบบrunยาว โดยใช้timestampกำกับ ให้เรียกผ่านtimestamp ออกมาเป็นค่าค่าหนึ่งเลย

dfcon = pd.read_sql(sql, con)
dfcon

                  Time  Discharge  Charge  Generation  Consumption
0  2018-11-01 00:15:00          0       0           0         1615
1  2018-11-01 00:30:00          0       0           0         1934
2  2018-11-01 00:45:00          0       0           0         1655
3  2018-11-01 01:00:00          0       0           0         1512
4  2018-11-01 01:15:00          0       0           0         1871
5  2018-11-01 01:30:00          0       0           0         1563
6  2018-11-01 01:45:00          0       0           0         1522
7  2018-11-01 02:00:00          0       0           0         1293
8  2018-11-01 02:15:00          0       0           0         1685
9  2018-11-01 02:30:00          0       0           0         1480
10 2018-11-01 02:45:00          0       0           0         1494
11 2018-11-01 03:00:00          0       0           0         1402
12 2018-11-01 03:15:00          0       0           0         1368
13 2018-11-01 03:30:00          0       0           0         1388
14 2018-11-01 03:45:00          0       0           0          914
15 2018-11-01 04:00:00          0       0           0          811
16 2018-11-01 04:15:00          0       0           0         1302
17 2018-11-01 04:30:00          0       0           0         1225
18 2018-11-01 04:45:00          0       0           0         1050
19 2018-11-01 05:00:00          0       0           0         2777
20 2018-11-01 05:15:00          0       0           0         1437
21 2018-11-01 05:30:00          0       0           0         3332
22 2018-11-01 05:45:00          0       0           0         1082
23 2018-11-01 06:00:00          0       0           0          775
24 2018-11-01 06:15:00          0       0           0          829
25 2018-11-01 06:30:00          0       0           2         1587
26 2018-11-01 06:45:00          0       0          62          721
27 2018-11-01 07:00:00          0       0         156          716
28 2018-11-01 07:15:00          0       0         301          898
29 2018-11-01 07:30:00          0       0         592          854
..                 ...        ...     ...         ...          ...
66 2018-11-01 16:45:00        654       0         250          908
67 2018-11-01 17:00:00       1028       0         151         1184
68 2018-11-01 17:15:00       1917       0         106         2022
69 2018-11-01 17:30:00       1484       0          63         1548
70 2018-11-01 17:45:00       1353       0          31         2163
71 2018-11-01 18:00:00        934       0           3         1951
72 2018-11-01 18:15:00        706       0           0         2103
73 2018-11-01 18:30:00          0       1           0         1991
74 2018-11-01 18:45:00          0       0           0         3479
75 2018-11-01 19:00:00          0       1           0         2139
76 2018-11-01 19:15:00          1       0           0         3133
77 2018-11-01 19:30:00          1       0           0         2214
78 2018-11-01 19:45:00          0       1           0         2139
79 2018-11-01 20:00:00          0       2           0         3086
80 2018-11-01 20:15:00          0       1           0         2882
81 2018-11-01 20:30:00          0       0           0         4512
82 2018-11-01 20:45:00          0       0           0         2559
83 2018-11-01 21:00:00          2       0           0         3040
84 2018-11-01 21:15:00          0       1           0         3018
85 2018-11-01 21:30:00          1       0           0         2173
86 2018-11-01 21:45:00          0       0           0         2229
87 2018-11-01 22:00:00          0       0           0         3210
88 2018-11-01 22:15:00          0       1           0         3700
89 2018-11-01 22:30:00          0       0           0         2961
90 2018-11-01 22:45:00          0       0           0         2792
91 2018-11-01 23:00:00          0       0           0         2252
92 2018-11-01 23:15:00          0       0           0         1670
93 2018-11-01 23:30:00          0       0           0         1804
94 2018-11-01 23:45:00          0       0           0         1789
95 2018-11-01 00:00:00          0       0           0         1769

[96 rows x 5 columns]

In [9]:
def predictcon(predict_date):
    num_day=30
    daybefore=[]
    date=predict_date[0:4]+predict_date[5:7]+predict_date[8:10]
    for i in range(30,0,-1):
        day=str(pd.to_datetime(predict_date[0:4]+predict_date[5:7]+predict_date[8:10])-pd.Timedelta(str(i)+' days'))
        daybefore.append(day[0:4]+'_'+day[5:7]+'_'+day[8:10])
        
    timebefore=[]
    timeb=pd.to_datetime(daybefore[0].replace('_','-')+' 00:00:00')
    for i in range(2880):
        timeb=timeb+pd.Timedelta('15 min')
        timebefore.append(timeb)
    
    precon=[]
    uid='root'
    pwd=''
    host='localhost'
    port=3306
    db='test' #change to consumption db
    con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #print(f'connection string = {con_string}')
    con=create_engine(con_string)
    #con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
    for i in timebefore:
        sql = 'SELECT Consumption FROM 2018_11_01 WHERE Time =' + str(i) #เปลี่ยนชื่อ table dbของพี่โอ๊คเป็นแบบrunยาว โดยใช้timestampกำกับ ให้เรียกผ่านtimestamp ออกมาเป็นค่าค่าหนึ่งเลย
        dfcon = pd.read_sql(sql, con)
        dfcon.set_index('Time',inplace=True)
        precon.append(dfcon["P_Load"])
    preconsumption=precon[0]
    pd.set_option('display.max_row',200)

    # ถ้ามีข้อมูลที่ขาดหาย
    #for i in range(preconsumption.shape[0]):
        #if preconsumption.iloc[i]==0:
            #if preconsumption.iloc[i-96]==0:
                #preconsumption.iloc[i]=preconsumption.iloc[i-192]
            #else:
                #preconsumption.iloc[i]=preconsumption.iloc[i-96]

    fit4 = ExponentialSmoothing(preconsumption, seasonal_periods=96, trend='add' ,seasonal='mul').fit()

    fit4.fittedvalues.plot(style='--', color='red')

    forecast=fit4.forecast(96)

    params=fit4.model.params
    consumption=[]
    for i in forecast:
        consumption.append(i)
    return consumption

In [9]:
predict_date='2018-12-01'
num_day=30
daybefore=[]
date=predict_date[0:4]+predict_date[5:7]+predict_date[8:10]
for i in range(30,0,-1):
    day=str(pd.to_datetime(predict_date[0:4]+predict_date[5:7]+predict_date[8:10])-pd.Timedelta(str(i)+' days'))
    daybefore.append(day[0:4]+'_'+day[5:7]+'_'+day[8:10])

timebefore=[]
timeb=pd.to_datetime(daybefore[0].replace('_','-')+' 00:00:00')
for i in range(2880):
    timeb=timeb+pd.Timedelta('15 min')
    timebefore.append(timeb)

precon=[]
uid='root'
pwd=''
host='localhost'
port=3306
db='test' #change to consumption db
con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
#con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
#print(f'connection string = {con_string}')
con=create_engine(con_string)

timebefore

[Timestamp('2018-11-01 00:15:00'),
 Timestamp('2018-11-01 00:30:00'),
 Timestamp('2018-11-01 00:45:00'),
 Timestamp('2018-11-01 01:00:00'),
 Timestamp('2018-11-01 01:15:00'),
 Timestamp('2018-11-01 01:30:00'),
 Timestamp('2018-11-01 01:45:00'),
 Timestamp('2018-11-01 02:00:00'),
 Timestamp('2018-11-01 02:15:00'),
 Timestamp('2018-11-01 02:30:00'),
 Timestamp('2018-11-01 02:45:00'),
 Timestamp('2018-11-01 03:00:00'),
 Timestamp('2018-11-01 03:15:00'),
 Timestamp('2018-11-01 03:30:00'),
 Timestamp('2018-11-01 03:45:00'),
 Timestamp('2018-11-01 04:00:00'),
 Timestamp('2018-11-01 04:15:00'),
 Timestamp('2018-11-01 04:30:00'),
 Timestamp('2018-11-01 04:45:00'),
 Timestamp('2018-11-01 05:00:00'),
 Timestamp('2018-11-01 05:15:00'),
 Timestamp('2018-11-01 05:30:00'),
 Timestamp('2018-11-01 05:45:00'),
 Timestamp('2018-11-01 06:00:00'),
 Timestamp('2018-11-01 06:15:00'),
 Timestamp('2018-11-01 06:30:00'),
 Timestamp('2018-11-01 06:45:00'),
 Timestamp('2018-11-01 07:00:00'),
 Timestamp('2018-11-01 07:15:00'),
 Timestamp('2018-11-01 07:30:00'),
 Timestamp('2018-11-01 07:45:00'),
 Timestamp('2018-11-01 08:00:00'),
 Timestamp('2018-11-01 08:15:00'),
 Timestamp('2018-11-01 08:30:00'),
 Timestamp('2018-11-01 08:45:00'),
 Timestamp('2018-11-01 09:00:00'),
 Timestamp('2018-11-01 09:15:00'),
 Timestamp('2018-11-01 09:30:00'),
 Timestamp('2018-11-01 09:45:00'),
 Timestamp('2018-11-01 10:00:00'),
 Timestamp('2018-11-01 10:15:00'),
 Timestamp('2018-11-01 10:30:00'),
 Timestamp('2018-11-01 10:45:00'),
 Timestamp('2018-11-01 11:00:00'),
 Timestamp('2018-11-01 11:15:00'),
 Timestamp('2018-11-01 11:30:00'),
 Timestamp('2018-11-01 11:45:00'),
 Timestamp('2018-11-01 12:00:00'),
 Timestamp('2018-11-01 12:15:00'),
 Timestamp('2018-11-01 12:30:00'),
 Timestamp('2018-11-01 12:45:00'),
 Timestamp('2018-11-01 13:00:00'),
 Timestamp('2018-11-01 13:15:00'),
 Timestamp('2018-11-01 13:30:00'),
 Timestamp('2018-11-01 13:45:00'),
 Timestamp('2018-11-01 14:00:00'),
 Timestamp('2018-11-01 14:15:00'),
 Timestamp('2018-11-01 14:30:00'),
 Timestamp('2018-11-01 14:45:00'),
 Timestamp('2018-11-01 15:00:00'),
 Timestamp('2018-11-01 15:15:00'),
 Timestamp('2018-11-01 15:30:00'),
 Timestamp('2018-11-01 15:45:00'),
 Timestamp('2018-11-01 16:00:00'),
 Timestamp('2018-11-01 16:15:00'),
 Timestamp('2018-11-01 16:30:00'),
 Timestamp('2018-11-01 16:45:00'),
 Timestamp('2018-11-01 17:00:00'),
 Timestamp('2018-11-01 17:15:00'),
 Timestamp('2018-11-01 17:30:00'),
 Timestamp('2018-11-01 17:45:00'),
 Timestamp('2018-11-01 18:00:00'),
 Timestamp('2018-11-01 18:15:00'),
 Timestamp('2018-11-01 18:30:00'),
 Timestamp('2018-11-01 18:45:00'),
 Timestamp('2018-11-01 19:00:00'),
 Timestamp('2018-11-01 19:15:00'),
 Timestamp('2018-11-01 19:30:00'),
 Timestamp('2018-11-01 19:45:00'),
 Timestamp('2018-11-01 20:00:00'),
 Timestamp('2018-11-01 20:15:00'),
 Timestamp('2018-11-01 20:30:00'),
 Timestamp('2018-11-01 20:45:00'),
 Timestamp('2018-11-01 21:00:00'),
 Timestamp('2018-11-01 21:15:00'),
 Timestamp('2018-11-01 21:30:00'),
 Timestamp('2018-11-01 21:45:00'),
 Timestamp('2018-11-01 22:00:00'),
 Timestamp('2018-11-01 22:15:00'),
 Timestamp('2018-11-01 22:30:00'),
 Timestamp('2018-11-01 22:45:00'),
 Timestamp('2018-11-01 23:00:00'),
 Timestamp('2018-11-01 23:15:00'),
 Timestamp('2018-11-01 23:30:00'),
 Timestamp('2018-11-01 23:45:00'),
 Timestamp('2018-11-02 00:00:00'),
 Timestamp('2018-11-02 00:15:00'),
 Timestamp('2018-11-02 00:30:00'),
 Timestamp('2018-11-02 00:45:00'),
 Timestamp('2018-11-02 01:00:00'),
 Timestamp('2018-11-02 01:15:00'),
 Timestamp('2018-11-02 01:30:00'),
 Timestamp('2018-11-02 01:45:00'),
 Timestamp('2018-11-02 02:00:00'),
 Timestamp('2018-11-02 02:15:00'),
 Timestamp('2018-11-02 02:30:00'),
 Timestamp('2018-11-02 02:45:00'),
 Timestamp('2018-11-02 03:00:00'),
 Timestamp('2018-11-02 03:15:00'),
 Timestamp('2018-11-02 03:30:00'),
 Timestamp('2018-11-02 03:45:00'),
 Timestamp('2018-11-02 04:00:00'),
 Timestamp('2018-11-02 04:15:00'),
 Timestamp('2018-11-02 04:30:00'),
 Timestamp('2018-11-02 04:45:00'),
 Timestamp('2018-11-02 05:00:00'),
 Timestamp('2018-11-02 05:15:00'),
 Timestamp('2018-11-02 05:30:00'),
 Timestamp('2018-11-02 05:45:00'),
 Timestamp('2018-11-02 06:00:00'),
 Timestamp('2018-11-02 06:15:00'),
 Timestamp('2018-11-02 06:30:00'),
 Timestamp('2018-11-02 06:45:00'),
 Timestamp('2018-11-02 07:00:00'),
 Timestamp('2018-11-02 07:15:00'),
 Timestamp('2018-11-02 07:30:00'),
 Timestamp('2018-11-02 07:45:00'),
 Timestamp('2018-11-02 08:00:00'),
 Timestamp('2018-11-02 08:15:00'),
 Timestamp('2018-11-02 08:30:00'),
 Timestamp('2018-11-02 08:45:00'),
 Timestamp('2018-11-02 09:00:00'),
 Timestamp('2018-11-02 09:15:00'),
 Timestamp('2018-11-02 09:30:00'),
 Timestamp('2018-11-02 09:45:00'),
 Timestamp('2018-11-02 10:00:00'),
 Timestamp('2018-11-02 10:15:00'),
 Timestamp('2018-11-02 10:30:00'),
 Timestamp('2018-11-02 10:45:00'),
 Timestamp('2018-11-02 11:00:00'),
 Timestamp('2018-11-02 11:15:00'),
 Timestamp('2018-11-02 11:30:00'),
 Timestamp('2018-11-02 11:45:00'),
 Timestamp('2018-11-02 12:00:00'),
 Timestamp('2018-11-02 12:15:00'),
 Timestamp('2018-11-02 12:30:00'),
 Timestamp('2018-11-02 12:45:00'),
 Timestamp('2018-11-02 13:00:00'),
 Timestamp('2018-11-02 13:15:00'),
 Timestamp('2018-11-02 13:30:00'),
 Timestamp('2018-11-02 13:45:00'),
 Timestamp('2018-11-02 14:00:00'),
 Timestamp('2018-11-02 14:15:00'),
 Timestamp('2018-11-02 14:30:00'),
 Timestamp('2018-11-02 14:45:00'),
 Timestamp('2018-11-02 15:00:00'),
 Timestamp('2018-11-02 15:15:00'),
 Timestamp('2018-11-02 15:30:00'),
 Timestamp('2018-11-02 15:45:00'),
 Timestamp('2018-11-02 16:00:00'),
 Timestamp('2018-11-02 16:15:00'),
 Timestamp('2018-11-02 16:30:00'),
 Timestamp('2018-11-02 16:45:00'),
 Timestamp('2018-11-02 17:00:00'),
 Timestamp('2018-11-02 17:15:00'),
 Timestamp('2018-11-02 17:30:00'),
 Timestamp('2018-11-02 17:45:00'),
 Timestamp('2018-11-02 18:00:00'),
 Timestamp('2018-11-02 18:15:00'),
 Timestamp('2018-11-02 18:30:00'),
 Timestamp('2018-11-02 18:45:00'),
 Timestamp('2018-11-02 19:00:00'),
 Timestamp('2018-11-02 19:15:00'),
 Timestamp('2018-11-02 19:30:00'),
 Timestamp('2018-11-02 19:45:00'),
 Timestamp('2018-11-02 20:00:00'),
 Timestamp('2018-11-02 20:15:00'),
 Timestamp('2018-11-02 20:30:00'),
 Timestamp('2018-11-02 20:45:00'),
 Timestamp('2018-11-02 21:00:00'),
 Timestamp('2018-11-02 21:15:00'),
 Timestamp('2018-11-02 21:30:00'),
 Timestamp('2018-11-02 21:45:00'),
 Timestamp('2018-11-02 22:00:00'),
 Timestamp('2018-11-02 22:15:00'),
 Timestamp('2018-11-02 22:30:00'),
 Timestamp('2018-11-02 22:45:00'),
 Timestamp('2018-11-02 23:00:00'),
 Timestamp('2018-11-02 23:15:00'),
 Timestamp('2018-11-02 23:30:00'),
 Timestamp('2018-11-02 23:45:00'),
 Timestamp('2018-11-03 00:00:00'),
 Timestamp('2018-11-03 00:15:00'),
 Timestamp('2018-11-03 00:30:00'),
 Timestamp('2018-11-03 00:45:00'),
 Timestamp('2018-11-03 01:00:00'),
 Timestamp('2018-11-03 01:15:00'),
 Timestamp('2018-11-03 01:30:00'),
 Timestamp('2018-11-03 01:45:00'),
 Timestamp('2018-11-03 02:00:00'),
 Timestamp('2018-11-03 02:15:00'),
 Timestamp('2018-11-03 02:30:00'),
 Timestamp('2018-11-03 02:45:00'),
 Timestamp('2018-11-03 03:00:00'),
 Timestamp('2018-11-03 03:15:00'),
 Timestamp('2018-11-03 03:30:00'),
 Timestamp('2018-11-03 03:45:00'),
 Timestamp('2018-11-03 04:00:00'),
 Timestamp('2018-11-03 04:15:00'),
 Timestamp('2018-11-03 04:30:00'),
 Timestamp('2018-11-03 04:45:00'),
 Timestamp('2018-11-03 05:00:00'),
 Timestamp('2018-11-03 05:15:00'),
 Timestamp('2018-11-03 05:30:00'),
 Timestamp('2018-11-03 05:45:00'),
 Timestamp('2018-11-03 06:00:00'),
 Timestamp('2018-11-03 06:15:00'),
 Timestamp('2018-11-03 06:30:00'),
 Timestamp('2018-11-03 06:45:00'),
 Timestamp('2018-11-03 07:00:00'),
 Timestamp('2018-11-03 07:15:00'),
 Timestamp('2018-11-03 07:30:00'),
 Timestamp('2018-11-03 07:45:00'),
 Timestamp('2018-11-03 08:00:00'),
 Timestamp('2018-11-03 08:15:00'),
 Timestamp('2018-11-03 08:30:00'),
 Timestamp('2018-11-03 08:45:00'),
 Timestamp('2018-11-03 09:00:00'),
 Timestamp('2018-11-03 09:15:00'),
 Timestamp('2018-11-03 09:30:00'),
 Timestamp('2018-11-03 09:45:00'),
 Timestamp('2018-11-03 10:00:00'),
 Timestamp('2018-11-03 10:15:00'),
 Timestamp('2018-11-03 10:30:00'),
 Timestamp('2018-11-03 10:45:00'),
 Timestamp('2018-11-03 11:00:00'),
 Timestamp('2018-11-03 11:15:00'),
 Timestamp('2018-11-03 11:30:00'),
 Timestamp('2018-11-03 11:45:00'),
 Timestamp('2018-11-03 12:00:00'),
 Timestamp('2018-11-03 12:15:00'),
 Timestamp('2018-11-03 12:30:00'),
 Timestamp('2018-11-03 12:45:00'),
 Timestamp('2018-11-03 13:00:00'),
 Timestamp('2018-11-03 13:15:00'),
 Timestamp('2018-11-03 13:30:00'),
 Timestamp('2018-11-03 13:45:00'),
 Timestamp('2018-11-03 14:00:00'),
 Timestamp('2018-11-03 14:15:00'),
 Timestamp('2018-11-03 14:30:00'),
 Timestamp('2018-11-03 14:45:00'),
 Timestamp('2018-11-03 15:00:00'),
 Timestamp('2018-11-03 15:15:00'),
 Timestamp('2018-11-03 15:30:00'),
 Timestamp('2018-11-03 15:45:00'),
 Timestamp('2018-11-03 16:00:00'),
 Timestamp('2018-11-03 16:15:00'),
 Timestamp('2018-11-03 16:30:00'),
 Timestamp('2018-11-03 16:45:00'),
 Timestamp('2018-11-03 17:00:00'),
 Timestamp('2018-11-03 17:15:00'),
 Timestamp('2018-11-03 17:30:00'),
 Timestamp('2018-11-03 17:45:00'),
 Timestamp('2018-11-03 18:00:00'),
 Timestamp('2018-11-03 18:15:00'),
 Timestamp('2018-11-03 18:30:00'),
 Timestamp('2018-11-03 18:45:00'),
 Timestamp('2018-11-03 19:00:00'),
 Timestamp('2018-11-03 19:15:00'),
 Timestamp('2018-11-03 19:30:00'),
 Timestamp('2018-11-03 19:45:00'),
 Timestamp('2018-11-03 20:00:00'),
 Timestamp('2018-11-03 20:15:00'),
 Timestamp('2018-11-03 20:30:00'),
 Timestamp('2018-11-03 20:45:00'),
 Timestamp('2018-11-03 21:00:00'),
 Timestamp('2018-11-03 21:15:00'),
 Timestamp('2018-11-03 21:30:00'),
 Timestamp('2018-11-03 21:45:00'),
 Timestamp('2018-11-03 22:00:00'),
 Timestamp('2018-11-03 22:15:00'),
 Timestamp('2018-11-03 22:30:00'),
 Timestamp('2018-11-03 22:45:00'),
 Timestamp('2018-11-03 23:00:00'),
 Timestamp('2018-11-03 23:15:00'),
 Timestamp('2018-11-03 23:30:00'),
 Timestamp('2018-11-03 23:45:00'),
 Timestamp('2018-11-04 00:00:00'),
 Timestamp('2018-11-04 00:15:00'),
 Timestamp('2018-11-04 00:30:00'),
 Timestamp('2018-11-04 00:45:00'),
 Timestamp('2018-11-04 01:00:00'),
 Timestamp('2018-11-04 01:15:00'),
 Timestamp('2018-11-04 01:30:00'),
 Timestamp('2018-11-04 01:45:00'),
 Timestamp('2018-11-04 02:00:00'),
 Timestamp('2018-11-04 02:15:00'),
 Timestamp('2018-11-04 02:30:00'),
 Timestamp('2018-11-04 02:45:00'),
 Timestamp('2018-11-04 03:00:00'),
 Timestamp('2018-11-04 03:15:00'),
 Timestamp('2018-11-04 03:30:00'),
 Timestamp('2018-11-04 03:45:00'),
 Timestamp('2018-11-04 04:00:00'),
 Timestamp('2018-11-04 04:15:00'),
 Timestamp('2018-11-04 04:30:00'),
 Timestamp('2018-11-04 04:45:00'),
 Timestamp('2018-11-04 05:00:00'),
 Timestamp('2018-11-04 05:15:00'),
 Timestamp('2018-11-04 05:30:00'),
 Timestamp('2018-11-04 05:45:00'),
 Timestamp('2018-11-04 06:00:00'),
 Timestamp('2018-11-04 06:15:00'),
 Timestamp('2018-11-04 06:30:00'),
 Timestamp('2018-11-04 06:45:00'),
 Timestamp('2018-11-04 07:00:00'),
 Timestamp('2018-11-04 07:15:00'),
 Timestamp('2018-11-04 07:30:00'),
 Timestamp('2018-11-04 07:45:00'),
 Timestamp('2018-11-04 08:00:00'),
 Timestamp('2018-11-04 08:15:00'),
 Timestamp('2018-11-04 08:30:00'),
 Timestamp('2018-11-04 08:45:00'),
 Timestamp('2018-11-04 09:00:00'),
 Timestamp('2018-11-04 09:15:00'),
 Timestamp('2018-11-04 09:30:00'),
 Timestamp('2018-11-04 09:45:00'),
 Timestamp('2018-11-04 10:00:00'),
 Timestamp('2018-11-04 10:15:00'),
 Timestamp('2018-11-04 10:30:00'),
 Timestamp('2018-11-04 10:45:00'),
 Timestamp('2018-11-04 11:00:00'),
 Timestamp('2018-11-04 11:15:00'),
 Timestamp('2018-11-04 11:30:00'),
 Timestamp('2018-11-04 11:45:00'),
 Timestamp('2018-11-04 12:00:00'),
 Timestamp('2018-11-04 12:15:00'),
 Timestamp('2018-11-04 12:30:00'),
 Timestamp('2018-11-04 12:45:00'),
 Timestamp('2018-11-04 13:00:00'),
 Timestamp('2018-11-04 13:15:00'),
 Timestamp('2018-11-04 13:30:00'),
 Timestamp('2018-11-04 13:45:00'),
 Timestamp('2018-11-04 14:00:00'),
 Timestamp('2018-11-04 14:15:00'),
 Timestamp('2018-11-04 14:30:00'),
 Timestamp('2018-11-04 14:45:00'),
 Timestamp('2018-11-04 15:00:00'),
 Timestamp('2018-11-04 15:15:00'),
 Timestamp('2018-11-04 15:30:00'),
 Timestamp('2018-11-04 15:45:00'),
 Timestamp('2018-11-04 16:00:00'),
 Timestamp('2018-11-04 16:15:00'),
 Timestamp('2018-11-04 16:30:00'),
 Timestamp('2018-11-04 16:45:00'),
 Timestamp('2018-11-04 17:00:00'),
 Timestamp('2018-11-04 17:15:00'),
 Timestamp('2018-11-04 17:30:00'),
 Timestamp('2018-11-04 17:45:00'),
 Timestamp('2018-11-04 18:00:00'),
 Timestamp('2018-11-04 18:15:00'),
 Timestamp('2018-11-04 18:30:00'),
 Timestamp('2018-11-04 18:45:00'),
 Timestamp('2018-11-04 19:00:00'),
 Timestamp('2018-11-04 19:15:00'),
 Timestamp('2018-11-04 19:30:00'),
 Timestamp('2018-11-04 19:45:00'),
 Timestamp('2018-11-04 20:00:00'),
 Timestamp('2018-11-04 20:15:00'),
 Timestamp('2018-11-04 20:30:00'),
 Timestamp('2018-11-04 20:45:00'),
 Timestamp('2018-11-04 21:00:00'),
 Timestamp('2018-11-04 21:15:00'),
 Timestamp('2018-11-04 21:30:00'),
 Timestamp('2018-11-04 21:45:00'),
 Timestamp('2018-11-04 22:00:00'),
 Timestamp('2018-11-04 22:15:00'),
 Timestamp('2018-11-04 22:30:00'),
 Timestamp('2018-11-04 22:45:00'),
 Timestamp('2018-11-04 23:00:00'),
 Timestamp('2018-11-04 23:15:00'),
 Timestamp('2018-11-04 23:30:00'),
 Timestamp('2018-11-04 23:45:00'),
 Timestamp('2018-11-05 00:00:00'),
 Timestamp('2018-11-05 00:15:00'),
 Timestamp('2018-11-05 00:30:00'),
 Timestamp('2018-11-05 00:45:00'),
 Timestamp('2018-11-05 01:00:00'),
 Timestamp('2018-11-05 01:15:00'),
 Timestamp('2018-11-05 01:30:00'),
 Timestamp('2018-11-05 01:45:00'),
 Timestamp('2018-11-05 02:00:00'),
 Timestamp('2018-11-05 02:15:00'),
 Timestamp('2018-11-05 02:30:00'),
 Timestamp('2018-11-05 02:45:00'),
 Timestamp('2018-11-05 03:00:00'),
 Timestamp('2018-11-05 03:15:00'),
 Timestamp('2018-11-05 03:30:00'),
 Timestamp('2018-11-05 03:45:00'),
 Timestamp('2018-11-05 04:00:00'),
 Timestamp('2018-11-05 04:15:00'),
 Timestamp('2018-11-05 04:30:00'),
 Timestamp('2018-11-05 04:45:00'),
 Timestamp('2018-11-05 05:00:00'),
 Timestamp('2018-11-05 05:15:00'),
 Timestamp('2018-11-05 05:30:00'),
 Timestamp('2018-11-05 05:45:00'),
 Timestamp('2018-11-05 06:00:00'),
 Timestamp('2018-11-05 06:15:00'),
 Timestamp('2018-11-05 06:30:00'),
 Timestamp('2018-11-05 06:45:00'),
 Timestamp('2018-11-05 07:00:00'),
 Timestamp('2018-11-05 07:15:00'),
 Timestamp('2018-11-05 07:30:00'),
 Timestamp('2018-11-05 07:45:00'),
 Timestamp('2018-11-05 08:00:00'),
 Timestamp('2018-11-05 08:15:00'),
 Timestamp('2018-11-05 08:30:00'),
 Timestamp('2018-11-05 08:45:00'),
 Timestamp('2018-11-05 09:00:00'),
 Timestamp('2018-11-05 09:15:00'),
 Timestamp('2018-11-05 09:30:00'),
 Timestamp('2018-11-05 09:45:00'),
 Timestamp('2018-11-05 10:00:00'),
 Timestamp('2018-11-05 10:15:00'),
 Timestamp('2018-11-05 10:30:00'),
 Timestamp('2018-11-05 10:45:00'),
 Timestamp('2018-11-05 11:00:00'),
 Timestamp('2018-11-05 11:15:00'),
 Timestamp('2018-11-05 11:30:00'),
 Timestamp('2018-11-05 11:45:00'),
 Timestamp('2018-11-05 12:00:00'),
 Timestamp('2018-11-05 12:15:00'),
 Timestamp('2018-11-05 12:30:00'),
 Timestamp('2018-11-05 12:45:00'),
 Timestamp('2018-11-05 13:00:00'),
 Timestamp('2018-11-05 13:15:00'),
 Timestamp('2018-11-05 13:30:00'),
 Timestamp('2018-11-05 13:45:00'),
 Timestamp('2018-11-05 14:00:00'),
 Timestamp('2018-11-05 14:15:00'),
 Timestamp('2018-11-05 14:30:00'),
 Timestamp('2018-11-05 14:45:00'),
 Timestamp('2018-11-05 15:00:00'),
 Timestamp('2018-11-05 15:15:00'),
 Timestamp('2018-11-05 15:30:00'),
 Timestamp('2018-11-05 15:45:00'),
 Timestamp('2018-11-05 16:00:00'),
 Timestamp('2018-11-05 16:15:00'),
 Timestamp('2018-11-05 16:30:00'),
 Timestamp('2018-11-05 16:45:00'),
 Timestamp('2018-11-05 17:00:00'),
 Timestamp('2018-11-05 17:15:00'),
 Timestamp('2018-11-05 17:30:00'),
 Timestamp('2018-11-05 17:45:00'),
 Timestamp('2018-11-05 18:00:00'),
 Timestamp('2018-11-05 18:15:00'),
 Timestamp('2018-11-05 18:30:00'),
 Timestamp('2018-11-05 18:45:00'),
 Timestamp('2018-11-05 19:00:00'),
 Timestamp('2018-11-05 19:15:00'),
 Timestamp('2018-11-05 19:30:00'),
 Timestamp('2018-11-05 19:45:00'),
 Timestamp('2018-11-05 20:00:00'),
 Timestamp('2018-11-05 20:15:00'),
 Timestamp('2018-11-05 20:30:00'),
 Timestamp('2018-11-05 20:45:00'),
 Timestamp('2018-11-05 21:00:00'),
 Timestamp('2018-11-05 21:15:00'),
 Timestamp('2018-11-05 21:30:00'),
 Timestamp('2018-11-05 21:45:00'),
 Timestamp('2018-11-05 22:00:00'),
 Timestamp('2018-11-05 22:15:00'),
 Timestamp('2018-11-05 22:30:00'),
 Timestamp('2018-11-05 22:45:00'),
 Timestamp('2018-11-05 23:00:00'),
 Timestamp('2018-11-05 23:15:00'),
 Timestamp('2018-11-05 23:30:00'),
 Timestamp('2018-11-05 23:45:00'),
 Timestamp('2018-11-06 00:00:00'),
 Timestamp('2018-11-06 00:15:00'),
 Timestamp('2018-11-06 00:30:00'),
 Timestamp('2018-11-06 00:45:00'),
 Timestamp('2018-11-06 01:00:00'),
 Timestamp('2018-11-06 01:15:00'),
 Timestamp('2018-11-06 01:30:00'),
 Timestamp('2018-11-06 01:45:00'),
 Timestamp('2018-11-06 02:00:00'),
 Timestamp('2018-11-06 02:15:00'),
 Timestamp('2018-11-06 02:30:00'),
 Timestamp('2018-11-06 02:45:00'),
 Timestamp('2018-11-06 03:00:00'),
 Timestamp('2018-11-06 03:15:00'),
 Timestamp('2018-11-06 03:30:00'),
 Timestamp('2018-11-06 03:45:00'),
 Timestamp('2018-11-06 04:00:00'),
 Timestamp('2018-11-06 04:15:00'),
 Timestamp('2018-11-06 04:30:00'),
 Timestamp('2018-11-06 04:45:00'),
 Timestamp('2018-11-06 05:00:00'),
 Timestamp('2018-11-06 05:15:00'),
 Timestamp('2018-11-06 05:30:00'),
 Timestamp('2018-11-06 05:45:00'),
 Timestamp('2018-11-06 06:00:00'),
 Timestamp('2018-11-06 06:15:00'),
 Timestamp('2018-11-06 06:30:00'),
 Timestamp('2018-11-06 06:45:00'),
 Timestamp('2018-11-06 07:00:00'),
 Timestamp('2018-11-06 07:15:00'),
 Timestamp('2018-11-06 07:30:00'),
 Timestamp('2018-11-06 07:45:00'),
 Timestamp('2018-11-06 08:00:00'),
 Timestamp('2018-11-06 08:15:00'),
 Timestamp('2018-11-06 08:30:00'),
 Timestamp('2018-11-06 08:45:00'),
 Timestamp('2018-11-06 09:00:00'),
 Timestamp('2018-11-06 09:15:00'),
 Timestamp('2018-11-06 09:30:00'),
 Timestamp('2018-11-06 09:45:00'),
 Timestamp('2018-11-06 10:00:00'),
 Timestamp('2018-11-06 10:15:00'),
 Timestamp('2018-11-06 10:30:00'),
 Timestamp('2018-11-06 10:45:00'),
 Timestamp('2018-11-06 11:00:00'),
 Timestamp('2018-11-06 11:15:00'),
 Timestamp('2018-11-06 11:30:00'),
 Timestamp('2018-11-06 11:45:00'),
 Timestamp('2018-11-06 12:00:00'),
 Timestamp('2018-11-06 12:15:00'),
 Timestamp('2018-11-06 12:30:00'),
 Timestamp('2018-11-06 12:45:00'),
 Timestamp('2018-11-06 13:00:00'),
 Timestamp('2018-11-06 13:15:00'),
 Timestamp('2018-11-06 13:30:00'),
 Timestamp('2018-11-06 13:45:00'),
 Timestamp('2018-11-06 14:00:00'),
 Timestamp('2018-11-06 14:15:00'),
 Timestamp('2018-11-06 14:30:00'),
 Timestamp('2018-11-06 14:45:00'),
 Timestamp('2018-11-06 15:00:00'),
 Timestamp('2018-11-06 15:15:00'),
 Timestamp('2018-11-06 15:30:00'),
 Timestamp('2018-11-06 15:45:00'),
 Timestamp('2018-11-06 16:00:00'),
 Timestamp('2018-11-06 16:15:00'),
 Timestamp('2018-11-06 16:30:00'),
 Timestamp('2018-11-06 16:45:00'),
 Timestamp('2018-11-06 17:00:00'),
 Timestamp('2018-11-06 17:15:00'),
 Timestamp('2018-11-06 17:30:00'),
 Timestamp('2018-11-06 17:45:00'),
 Timestamp('2018-11-06 18:00:00'),
 Timestamp('2018-11-06 18:15:00'),
 Timestamp('2018-11-06 18:30:00'),
 Timestamp('2018-11-06 18:45:00'),
 Timestamp('2018-11-06 19:00:00'),
 Timestamp('2018-11-06 19:15:00'),
 Timestamp('2018-11-06 19:30:00'),
 Timestamp('2018-11-06 19:45:00'),
 Timestamp('2018-11-06 20:00:00'),
 Timestamp('2018-11-06 20:15:00'),
 Timestamp('2018-11-06 20:30:00'),
 Timestamp('2018-11-06 20:45:00'),
 Timestamp('2018-11-06 21:00:00'),
 Timestamp('2018-11-06 21:15:00'),
 Timestamp('2018-11-06 21:30:00'),
 Timestamp('2018-11-06 21:45:00'),
 Timestamp('2018-11-06 22:00:00'),
 Timestamp('2018-11-06 22:15:00'),
 Timestamp('2018-11-06 22:30:00'),
 Timestamp('2018-11-06 22:45:00'),

In [12]:
str(timebefore[0])[0:10]

'2018-11-01'

In [22]:
sql ="SELECT `Consumption` FROM ` 2018_11_01` WHERE Time ='2018-11-01 01:00:00';"
dfcon = pd.read_sql(sql, con)

In [15]:
for i in timebefore:
    sql = 'SELECT Consumption FROM '+str(i)[0:10]+' WHERE Time = ' + str(i) #เปลี่ยนชื่อ table dbของพี่โอ๊คเป็นแบบrunยาว โดยใช้timestampกำกับ ให้เรียกผ่านtimestamp ออกมาเป็นค่าค่าหนึ่งเลย
    print(sql)
#    dfcon = pd.read_sql(sql, con)
#    dfcon.set_index('Time',inplace=True)
#    precon.append(dfcon["P_Load"])
#preconsumption=precon[0]

SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 00:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 00:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 00:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 01:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 01:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 01:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 01:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 02:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 02:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 02:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 02:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 03:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 03:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 03:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 03:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 04:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 04:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 04:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 04:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 05:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 05:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 05:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 05:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 06:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 06:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 06:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 06:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 07:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 07:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 07:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 07:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 08:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 08:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 08:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 08:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 09:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 09:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 09:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 09:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 10:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 10:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 10:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 10:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 11:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 11:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 11:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 11:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 12:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 12:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 12:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 12:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 13:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 13:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 13:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 13:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 14:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 14:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 14:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 14:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 15:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 15:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 15:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 15:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 16:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 16:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 16:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 16:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 17:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 17:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 17:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 17:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 18:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 18:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 18:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 18:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 19:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 19:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 19:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 19:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 20:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 20:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 20:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 20:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 21:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 21:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 21:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 21:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 22:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 22:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 22:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 22:45:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 23:00:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 23:15:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 23:30:00
SELECT Consumption FROM 2018-11-01 WHERE Time = 2018-11-01 23:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 00:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 00:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 00:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 00:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 01:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 01:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 01:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 01:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 02:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 02:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 02:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 02:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 03:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 03:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 03:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 03:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 04:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 04:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 04:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 04:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 05:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 05:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 05:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 05:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 06:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 06:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 06:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 06:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 07:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 07:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 07:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 07:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 08:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 08:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 08:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 08:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 09:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 09:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 09:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 09:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 10:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 10:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 10:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 10:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 11:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 11:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 11:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 11:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 12:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 12:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 12:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 12:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 13:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 13:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 13:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 13:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 14:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 14:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 14:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 14:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 15:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 15:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 15:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 15:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 16:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 16:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 16:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 16:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 17:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 17:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 17:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 17:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 18:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 18:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 18:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 18:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 19:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 19:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 19:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 19:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 20:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 20:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 20:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 20:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 21:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 21:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 21:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 21:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 22:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 22:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 22:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 22:45:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 23:00:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 23:15:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 23:30:00
SELECT Consumption FROM 2018-11-02 WHERE Time = 2018-11-02 23:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 00:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 00:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 00:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 00:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 01:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 01:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 01:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 01:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 02:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 02:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 02:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 02:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 03:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 03:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 03:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 03:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 04:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 04:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 04:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 04:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 05:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 05:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 05:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 05:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 06:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 06:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 06:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 06:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 07:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 07:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 07:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 07:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 08:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 08:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 08:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 08:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 09:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 09:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 09:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 09:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 10:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 10:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 10:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 10:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 11:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 11:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 11:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 11:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 12:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 12:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 12:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 12:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 13:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 13:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 13:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 13:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 14:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 14:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 14:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 14:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 15:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 15:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 15:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 15:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 16:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 16:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 16:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 16:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 17:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 17:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 17:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 17:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 18:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 18:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 18:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 18:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 19:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 19:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 19:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 19:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 20:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 20:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 20:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 20:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 21:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 21:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 21:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 21:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 22:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 22:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 22:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 22:45:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 23:00:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 23:15:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 23:30:00
SELECT Consumption FROM 2018-11-03 WHERE Time = 2018-11-03 23:45:00
SELECT Consumption FROM 2018-11-04 WHERE Time = 2018-11-04 00:00:00
SELECT Consumption FROM 2018-11-04 WHERE Time = 2018-11-04 00:15:00
SELECT Consumption FROM 2018-11-04 WHERE Time = 2018-11-04 00:30:00
SELECT Consumption FROM 2018-11-04 WHERE Time = 2018-11-04 00:45:00
SELECT Consumption FROM 2018-11-04 WHERE Time = 2018-11-04 01:00:00
SELECT Consumption FROM 2018-11-04 WHERE Time = 2018-11-04 01:15:00
SELECT Consumption FROM 2018-11-04 WHERE Time = 2018-11-04 01:30:00

SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 15:45:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 16:00:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 16:15:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 16:30:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 16:45:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 17:00:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 17:15:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 17:30:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 17:45:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 18:00:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 18:15:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 18:30:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 18:45:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 19:00:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 19:15:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 19:30:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 19:45:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 20:00:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 20:15:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 20:30:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 20:45:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 21:00:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 21:15:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 21:30:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 21:45:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 22:00:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 22:15:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 22:30:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 22:45:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 23:00:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 23:15:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 23:30:00
SELECT Consumption FROM 2018-11-16 WHERE Time = 2018-11-16 23:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 00:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 00:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 00:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 00:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 01:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 01:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 01:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 01:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 02:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 02:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 02:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 02:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 03:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 03:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 03:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 03:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 04:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 04:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 04:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 04:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 05:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 05:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 05:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 05:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 06:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 06:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 06:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 06:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 07:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 07:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 07:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 07:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 08:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 08:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 08:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 08:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 09:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 09:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 09:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 09:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 10:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 10:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 10:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 10:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 11:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 11:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 11:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 11:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 12:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 12:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 12:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 12:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 13:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 13:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 13:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 13:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 14:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 14:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 14:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 14:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 15:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 15:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 15:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 15:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 16:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 16:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 16:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 16:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 17:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 17:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 17:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 17:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 18:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 18:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 18:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 18:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 19:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 19:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 19:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 19:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 20:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 20:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 20:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 20:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 21:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 21:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 21:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 21:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 22:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 22:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 22:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 22:45:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 23:00:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 23:15:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 23:30:00
SELECT Consumption FROM 2018-11-17 WHERE Time = 2018-11-17 23:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 00:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 00:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 00:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 00:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 01:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 01:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 01:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 01:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 02:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 02:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 02:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 02:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 03:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 03:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 03:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 03:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 04:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 04:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 04:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 04:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 05:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 05:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 05:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 05:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 06:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 06:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 06:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 06:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 07:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 07:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 07:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 07:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 08:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 08:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 08:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 08:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 09:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 09:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 09:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 09:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 10:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 10:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 10:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 10:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 11:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 11:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 11:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 11:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 12:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 12:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 12:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 12:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 13:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 13:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 13:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 13:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 14:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 14:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 14:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 14:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 15:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 15:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 15:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 15:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 16:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 16:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 16:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 16:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 17:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 17:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 17:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 17:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 18:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 18:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 18:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 18:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 19:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 19:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 19:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 19:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 20:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 20:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 20:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 20:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 21:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 21:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 21:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 21:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 22:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 22:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 22:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 22:45:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 23:00:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 23:15:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 23:30:00
SELECT Consumption FROM 2018-11-18 WHERE Time = 2018-11-18 23:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 00:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 00:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 00:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 00:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 01:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 01:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 01:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 01:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 02:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 02:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 02:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 02:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 03:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 03:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 03:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 03:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 04:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 04:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 04:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 04:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 05:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 05:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 05:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 05:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 06:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 06:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 06:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 06:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 07:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 07:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 07:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 07:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 08:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 08:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 08:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 08:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 09:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 09:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 09:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 09:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 10:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 10:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 10:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 10:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 11:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 11:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 11:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 11:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 12:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 12:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 12:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 12:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 13:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 13:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 13:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 13:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 14:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 14:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 14:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 14:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 15:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 15:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 15:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 15:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 16:00:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 16:15:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 16:30:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 16:45:00
SELECT Consumption FROM 2018-11-19 WHERE Time = 2018-11-19 17:00:00

SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 01:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 02:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 02:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 02:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 02:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 03:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 03:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 03:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 03:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 04:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 04:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 04:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 04:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 05:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 05:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 05:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 05:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 06:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 06:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 06:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 06:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 07:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 07:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 07:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 07:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 08:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 08:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 08:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 08:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 09:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 09:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 09:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 09:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 10:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 10:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 10:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 10:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 11:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 11:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 11:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 11:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 12:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 12:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 12:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 12:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 13:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 13:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 13:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 13:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 14:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 14:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 14:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 14:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 15:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 15:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 15:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 15:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 16:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 16:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 16:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 16:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 17:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 17:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 17:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 17:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 18:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 18:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 18:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 18:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 19:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 19:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 19:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 19:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 20:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 20:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 20:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 20:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 21:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 21:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 21:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 21:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 22:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 22:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 22:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 22:45:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 23:00:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 23:15:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 23:30:00
SELECT Consumption FROM 2018-11-27 WHERE Time = 2018-11-27 23:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 00:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 00:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 00:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 00:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 01:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 01:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 01:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 01:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 02:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 02:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 02:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 02:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 03:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 03:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 03:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 03:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 04:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 04:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 04:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 04:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 05:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 05:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 05:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 05:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 06:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 06:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 06:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 06:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 07:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 07:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 07:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 07:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 08:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 08:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 08:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 08:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 09:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 09:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 09:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 09:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 10:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 10:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 10:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 10:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 11:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 11:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 11:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 11:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 12:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 12:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 12:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 12:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 13:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 13:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 13:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 13:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 14:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 14:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 14:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 14:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 15:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 15:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 15:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 15:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 16:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 16:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 16:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 16:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 17:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 17:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 17:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 17:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 18:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 18:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 18:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 18:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 19:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 19:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 19:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 19:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 20:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 20:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 20:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 20:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 21:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 21:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 21:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 21:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 22:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 22:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 22:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 22:45:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 23:00:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 23:15:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 23:30:00
SELECT Consumption FROM 2018-11-28 WHERE Time = 2018-11-28 23:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 00:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 00:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 00:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 00:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 01:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 01:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 01:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 01:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 02:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 02:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 02:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 02:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 03:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 03:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 03:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 03:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 04:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 04:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 04:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 04:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 05:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 05:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 05:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 05:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 06:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 06:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 06:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 06:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 07:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 07:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 07:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 07:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 08:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 08:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 08:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 08:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 09:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 09:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 09:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 09:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 10:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 10:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 10:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 10:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 11:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 11:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 11:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 11:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 12:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 12:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 12:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 12:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 13:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 13:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 13:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 13:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 14:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 14:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 14:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 14:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 15:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 15:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 15:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 15:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 16:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 16:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 16:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 16:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 17:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 17:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 17:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 17:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 18:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 18:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 18:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 18:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 19:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 19:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 19:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 19:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 20:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 20:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 20:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 20:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 21:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 21:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 21:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 21:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 22:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 22:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 22:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 22:45:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 23:00:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 23:15:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 23:30:00
SELECT Consumption FROM 2018-11-29 WHERE Time = 2018-11-29 23:45:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 00:00:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 00:15:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 00:30:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 00:45:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 01:00:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 01:15:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 01:30:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 01:45:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 02:00:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 02:15:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 02:30:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 02:45:00
SELECT Consumption FROM 2018-11-30 WHERE Time = 2018-11-30 03:00:00

In [10]:
predictcon('2018-12-01')

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '2018-11-01 00:15:00' at line 1") [SQL: 'select * from 2018-11-01 00:15:00'] (Background on this error at: http://sqlalche.me/e/f405)

## Create function predictcon

In [25]:
def createDF(predict_date,Consumption,Generation):
    predictday=predict_date[0:4]+predict_date[5:7]+predict_date[8:10]
    minu=[]
    h=[]
    m=[]
    index=[]
    Time=[]
    for i in range(1,96):
        minu.append(str((i%4)*15).zfill(2))
        h.append(str(i//4).zfill(2))
    for i in range(1,96):
        index.append(predictday+h[i-1]+minu[i-1])
    for i in index:
        Time.append(pd.to_datetime(i))
    Time.append(pd.to_datetime(predictday+'0000'))
    len(Time)
    DF = pd.DataFrame()
    DF['Consumption']=Consumption
    DF['Time']=Time
    DF.set_index('Time',inplace=True)
    DF['Generation']=Generation
    return DF

In [12]:
led = LED(17)

NameError: name 'LED' is not defined

In [26]:
def feedbackalgo(Gen_error,Load_error):
    if abs(Gen_error) < 50 and abs(Load_error) < 200:
        feedback=0
    elif abs(Gen_error) > 50 and abs(Load_error) < 200:
        feedback=1
        if Gen_error > 0: #Forecast > Real --> Batt cannot be charged
            fbcontactor = 0
        else:
            fbcontactor = 1
    elif abs(Gen_error) < 50 and abs(Load_error) > 200:
        feedback=1
        if Load_error > 0:
            fbcontactor = 1
        else:
            fbcontactor = 0
    elif abs(Gen_error) > 50 and abs(Load_error) > 200:
        feedback=1
        if Gen_error > 0 and Load_error > 0:
            fbcontactor= 1
        elif Gen_error > 0 and Load_error < 0:
            fbcontactor = 0
        elif Gen_error < 0 and Load_error > 0:
            fbcontactor = 1
        elif Gen_error < 0 and Load_error > 0:
            fbcontactor=1
    return [fbcontactor,feedback]

In [3]:
def writetosql(predict_date,df):
    uid='root'
    pwd='password'
    host='192.168.1.43' #เปลี่ยน ip ให้ตรงกับ pi ของเราเอง
    port=3306
    db='test' #change db
    #con_string=f'mysql+pymysql://{uid}@{host}:{port}/{db}'
    con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    print(f'connection string = {con_string}')
    con=create_engine(con_string)
    df.to_sql(predict_date,con)

In [ ]:
def battdata(date):    
    now = date.replace("_","-") +' 00:00:00' #date = predict_date?
    uid='root'
    pwd='lago26'
    host='localhost' #ip ของ pi พี่โอ๊ค
    port=3306
    db='Chula' #change to consumption db
    con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #print(f'connection string = {con_string}')
    con=create_engine(con_string)
    #con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
    sql = '''select Batt_SOC
             from HEMS01
             where Date/Time =''' + now #เปลี่ยนชื่อ table dbของพี่โอ๊คเป็นแบบrunยาว โดยใช้timestampกำกับ ให้เรียกผ่านtimestamp ออกมาเป็นค่าค่าหนึ่งเลย
    percentbatt = pd.read_sql(sql, con)
    return percentbatt

In [ ]:
def pulldata(date):    
    now = date.replace("_","-")   #date = predict_date?
    uid='root'
    pwd='lago26'
    host='localhost' #ip ของ pi พี่โอ๊ค
    port=3306
    db='Chula' #change to consumption db
    con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #print(f'connection string = {con_string}')
    con=create_engine(con_string)
    #con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
    sql_gen = '''select PV_Power
             from HEMS01
             where Date/Time =''' + now #เปลี่ยนชื่อ table dbของพี่โอ๊คเป็นแบบrunยาว โดยใช้timestampกำกับ ให้เรียกผ่านtimestamp ออกมาเป็นค่าค่าหนึ่งเลย
    sql_con = '''select P_Load
             from HEMS01
             where Date/Time =''' + now
    real_gen = pd.read_sql(sql_gen, con)
    real_con = pd.read_dql(sql_con, con)
    return real_gen, real_con

In [1]:
def maape(actual: np.ndarray, predicted: np.ndarray):
    """
    Mean Arctangent Absolute Percentage Error
    Note: result is NOT multiplied by 100
    """
    return np.mean(np.arctan(np.abs((actual - predicted) / (actual + EPSILON))))*100

In [ ]:
def mape(actual: np.ndarray, predicted: np.ndarray):
    """
    Mean Absolute Percentage Error
    Properties:
        + Easy to interpret
        + Scale independent
        - Biased, not symmetric
        - Undefined when actual[t] == 0
    Note: result is NOT multiplied by 100
    """
    return np.mean(np.abs(_percentage_error(actual, predicted)))*100

## initial_predict_date must be in the future

In [28]:
initial_predict_date='2019-03-20'

In [30]:
start=0
while start==0:
    if pd.datetime.now()>=pd.to_datetime(initial_predict_date+' 00:00:00'):
        start=1
        predict_date=initial_predict_date

## PULL PERCENT BATT

In [43]:
stop=0
contactor=[]
while stop==0 and start==1:
    predict_date=str(pd.datetime.now().date())
    loadjson(predict_date)
    consumption=predictcon(predict_date)
    generation=predictgen(predict_date)
    data=createDF(predict_date,consumption,generation)  
    percentbatt = battdata(predict_date)
    dutycycleinfo=dutycyclemode(data,percent_batt)
    data=dutycycleinfo[0]
    writetosql(predict_date,data)
    for i in data.index:
        real_gen,real_con = pulldata(i)
        i = i+pd.Timedelta('1 min')
        Gen_error = maape(data.loc(i-pd.Timedelta("16 min"),'Generation'),real_gen)
        Load_error = mape(data.loc(i-pd.Timedelta("16 min"),'Consumption'),real_con)
        fbcontactor=feedbackalgo(Gen_error,Load_error)[0]
        feedback=feedbackalgo(Gen_error,Load_error)[1]
        while pd.datetime.now()<i:
            if feedback==0:
                if data.loc[i,'Contactor']==1:
                    led.on()
                else:
                    led.off()
            else:
                if fbcontactor==0:
                    led.off()
                else:
                    led.on()

NameError: name 'predictcon' is not defined