In [6]:
import pandas as pd
import json

In [14]:
pd.set_option('display.max_rows',100)

In [19]:
def createDayDataframe(filename):
    path = "tongsdata/"
    filedate = filename.split(".")[0].split("-")

    with open(path + filename, 'r', encoding='utf-8') as fin:
        data_json = json.loads(fin.read())

    #  Create X DataFrame
    todayData = {time: data_json[time]['currently'] for time in data_json}
    todayData_DF = pd.DataFrame(todayData).T

    #  Create y DataFrame
    energyBalanceFilename = "energyBalance/Energy_Balance_{}_{}_{}.csv".format(filedate[0], filedate[1], filedate[2]) #change due to json filename
    energyBalance = pd.read_csv(path + energyBalanceFilename, delimiter=";")

    energyBalance_DF = pd.DataFrame(index=energyBalance.iloc[:-1,0].apply(lambda x: x[2:-1]))
    energyBalance_DF['PV Power Generation'] = energyBalance['PV power generation / Mean values [W]  '].values[:-1]
    energyBalance_DF = energyBalance_DF[energyBalance_DF != ' ']
    energyBalance_DF = energyBalance_DF.dropna()

    #  Join X y DataFrame
    data = todayData_DF.join(energyBalance_DF)
    return data

def cleanDataframe(masterDF):
    masterData_cleaned = masterDF.reset_index()
    masterData_cleaned = masterData_cleaned.rename(columns={'index': 'time_of_day'})
    masterData_cleaned = masterData_cleaned[masterData_cleaned['PV Power Generation'].notna()]
    #masterData_cleaned['month'] = masterData_cleaned['time'].apply(datetime.datetime.fromtimestamp).apply(lambda x: x.month)
    masterData_cleaned['cloudCover'] = masterData_cleaned['cloudCover'].fillna(value=masterData_cleaned['cloudCover'].mean())
    masterData_cleaned['PV Power Generation'] = masterData_cleaned['PV Power Generation'].apply(lambda x: x.replace(",", "")).astype('float')
    return masterData_cleaned

def featureEngineering(masterDF):
    masterDF = masterDF.drop(columns=['icon', 'summary', 'time', 'windBearing', 'windGust', 'ozone', 'precipIntensity', 'precipProbability','pressure','precipType'])
    #masterDF = pd.get_dummies(masterDF, columns=['time_of_day', 'precipType', 'uvIndex', 'month'])
    masterDF = pd.get_dummies(masterDF, columns=['time_of_day'])
    return masterDF

### รันแค่ครั้งเดียวเพื่อ fit model

In [20]:
import os
import pandas as pd
import json
import datetime

files = os.listdir("tongsdata/")

#files.remove(".DS_Store")
files.remove("energyBalance")

masterData = pd.DataFrame()

for file in files:
    r = createDayDataframe(file).loc['06:30':'18:00']
    #print(file, r.shape)
    masterData = pd.concat([masterData, r], axis=0)

masterData = cleanDataframe(masterData)
masterData = featureEngineering(masterData)

features = list(masterData.drop(columns=['PV Power Generation']).columns)

masterData = masterData.dropna()

X = masterData.drop(columns=['PV Power Generation']).astype('float').values
y = masterData['PV Power Generation'].astype('float').values


from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

training_features, testing_features, training_target, testing_target = train_test_split(X, y)

# Average CV score on the training set was:-91867.4890210794
exported_pipeline = RandomForestRegressor(bootstrap=False, max_features=0.3, min_samples_leaf=1, min_samples_split=7, n_estimators=100)

exported_pipeline.fit(training_features, training_target)
results = exported_pipeline.predict(testing_features)

#from sklearn.metrics import mean_squared_error, r2_score ,mean_absolute_error
#print(mean_squared_error(testing_target, results), 
#mean_absolute_error(testing_target, results), 
#r2_score(testing_target, results))

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  app.launch_new_instance()

In [21]:
def clean1(date):
    date = date.split("-")
    path = "tongsdata/"
    filename = "energyBalance/Energy_Balance_{}_{}_{}.csv".format(date[0], date[1], date[2])
    rawdata=pd.read_csv(path + filename, delimiter=";" )
    deleteindex=rawdata.loc[rawdata.loc[pd.IndexSlice[:,'Battery discharging / Mean values [W] ']]==' '].index
    rawdata.drop(deleteindex,inplace=True)
    rawdata.rename(columns={' ':'Time'},inplace=True)
    rawdata['Time']=rawdata['Time'].str.replace('[^\d]','')
    rawdata['Time']=date[0]+date[1]+date[2]+rawdata['Time']
    rawdata['Time']=pd.to_datetime(rawdata.Time)
    rawdata.set_index('Time', inplace=True)
    for i in rawdata.columns:
        if i != 'Direct consumption / Mean values [W] ' and i != 'Battery discharging / Mean values [W] ' and i!='External energy supply / Mean values [W] ' and i != 'PV power generation / Mean values [W]  ':
            rawdata.drop([i],axis=1,inplace=True)
    for i in rawdata.columns:
        rawdata[i].fillna('0',inplace=True)
        rawdata[i]=rawdata[i].apply(lambda x: x.replace(' ', '0'))
        rawdata[i]=rawdata[i].str.replace('\D','').astype(int)
    rawdata['Consumption']=rawdata['Direct consumption / Mean values [W] ']+rawdata['Battery discharging / Mean values [W] ']+rawdata['External energy supply / Mean values [W] ']
    rawdata.rename(columns={'PV power generation / Mean values [W]  ':'Generation'},inplace=True)
    rawdata.drop(['Direct consumption / Mean values [W] ', 'Battery discharging / Mean values [W] ','External energy supply / Mean values [W] '],axis=1,inplace=True)
    return rawdata

In [22]:
date = "2018-11-01"
df = clean1(date)

In [23]:
df

                     Generation  Consumption
Time
2018-11-01 00:15:00           0         1615
2018-11-01 00:30:00           0         1934
2018-11-01 00:45:00           0         1655
2018-11-01 01:00:00           0         1512
2018-11-01 01:15:00           0         1871
2018-11-01 01:30:00           0         1563
2018-11-01 01:45:00           0         1522
2018-11-01 02:00:00           0         1293
2018-11-01 02:15:00           0         1685
2018-11-01 02:30:00           0         1480
2018-11-01 02:45:00           0         1494
2018-11-01 03:00:00           0         1402
2018-11-01 03:15:00           0         1368
2018-11-01 03:30:00           0         1388
2018-11-01 03:45:00           0          914
2018-11-01 04:00:00           0          811
2018-11-01 04:15:00           0         1302
2018-11-01 04:30:00           0         1225
2018-11-01 04:45:00           0         1050
2018-11-01 05:00:00           0         2777
2018-11-01 05:15:00           0         1437
2018-11-01 05:30:00           0         3332
2018-11-01 05:45:00           0         1082
2018-11-01 06:00:00           0          775
2018-11-01 06:15:00           0          829
2018-11-01 06:30:00           2         1587
2018-11-01 06:45:00          62          721
2018-11-01 07:00:00         156          716
2018-11-01 07:15:00         301          898
2018-11-01 07:30:00         592          854
2018-11-01 07:45:00         700          870
2018-11-01 08:00:00         874         1111
2018-11-01 08:15:00        1173          895
2018-11-01 08:30:00        1398          935
2018-11-01 08:45:00        1707          725
2018-11-01 09:00:00        1976          708
2018-11-01 09:15:00        2196          645
2018-11-01 09:30:00        2345          632
2018-11-01 09:45:00        2508          555
2018-11-01 10:00:00        2416          664
2018-11-01 10:15:00        1988          667
2018-11-01 10:30:00        1582          615
2018-11-01 10:45:00        1799         1215
2018-11-01 11:00:00        1334          655
2018-11-01 11:15:00        1166          604
2018-11-01 11:30:00        1111          594
2018-11-01 11:45:00        1139          666
2018-11-01 12:00:00        1181          714
2018-11-01 12:15:00        1219          772
2018-11-01 12:30:00        1241          804
2018-11-01 12:45:00        1279          852
2018-11-01 13:00:00        1105          762
2018-11-01 13:15:00        1094          749
2018-11-01 13:30:00        1217          900
2018-11-01 13:45:00        1450         1175
2018-11-01 14:00:00        1135          810
2018-11-01 14:15:00        1233          895
2018-11-01 14:30:00        1134          783
2018-11-01 14:45:00        1087          750
2018-11-01 15:00:00        1142          933
2018-11-01 15:15:00        1281         1654
2018-11-01 15:30:00        1098         1484
2018-11-01 15:45:00         940          913
2018-11-01 16:00:00         734          967
2018-11-01 16:15:00         557          763
2018-11-01 16:30:00         355          746
2018-11-01 16:45:00         250          908
2018-11-01 17:00:00         151         1184
2018-11-01 17:15:00         106         2022
2018-11-01 17:30:00          63         1548
2018-11-01 17:45:00          31         2163
2018-11-01 18:00:00           3         1951
2018-11-01 18:15:00           0         2103
2018-11-01 18:30:00           0         1991
2018-11-01 18:45:00           0         3479
2018-11-01 19:00:00           0         2139
2018-11-01 19:15:00           0         3133
2018-11-01 19:30:00           0         2214
2018-11-01 19:45:00           0         2139
2018-11-01 20:00:00           0         3086
2018-11-01 20:15:00           0         2882
2018-11-01 20:30:00           0         4512
2018-11-01 20:45:00           0         2559
2018-11-01 21:00:00           0         3040
2018-11-01 21:15:00           0         3018
2018-11-01 21:30:00           0         2173
2018-11-01 21:45:00           0         2229
2018-11-01 22:00:00           0         3210
2018-11-01 22:15:00           0         3700
2018-11-01 22:30:00           0         2961
2018-11-01 22:45:00           0         2792
2018-11-01 23:00:00           0         2252
2018-11-01 23:15:00           0         1670
2018-11-01 23:30:00           0         1804
2018-11-01 23:45:00           0         1789
2018-11-01 00:00:00           0         1769

In [24]:
def predictgen(predict_date):
    path = "tongsdata/"
    filename = predict_date.replace("_",'-') + '.json'
    
    with open(path + filename, 'r', encoding='utf-8') as fin:
        data_json = json.loads(fin.read())
    
    todayData = {time: data_json[time]['currently'] for time in data_json}
    todayData_DF = pd.DataFrame(todayData).T
    
    todayData_DF.index.names=['time_of_day']
    todayData_DF = todayData_DF.loc['06:30':'18:00']
    todayData_DF = todayData_DF.reset_index()
    #todayData_DF['month'] = todayData_DF['time'].apply(datetime.datetime.fromtimestamp).apply(lambda x: x.month)
    
    todayData_DF['cloudCover'] = todayData_DF['cloudCover'].fillna(value=todayData_DF['cloudCover'].mean())
    dropcolumns=['icon', 'summary', 'time', 'windBearing', 'windGust', 'ozone', 'precipIntensity', 'precipProbability','pressure','precipType']
    for i in dropcolumns:
        if i in todayData_DF.columns:
            todayData_DF = todayData_DF.drop(columns=[i])
    #todayData_DF = pd.get_dummies(todayData_DF, columns=['time_of_day', 'precipType', 'uvIndex', 'month'])
    todayData_DF = pd.get_dummies(todayData_DF, columns=['time_of_day'])

    masterData_for_predict = masterData.drop(columns=['PV Power Generation'])
    for i in range(len(masterData_for_predict.columns)) : #drop power balance
        if masterData_for_predict.columns[i] not in todayData_DF.columns:
            todayData_DF.insert(i, masterData.columns[i+1], 0)
    missingvalue = todayData_DF[todayData_DF.isna().any(axis=1)].index
    
    col = ['apparentTemperature','cloudCover','dewPoint','humidity','temperature','visibility','windSpeed']
    for col in todayData_DF:
        todayData_DF[col] = pd.to_numeric(todayData_DF[col], errors='coerce')
    todayData_DF=todayData_DF.interpolate()
    
    

first_predict = todayData_DF.astype('float').values
    
    results_first_predict = exported_pipeline.predict(first_predict)
    results_first_predict = np.array(results_first_predict).tolist()
    for i in range(25):
        results_first_predict.insert(0,0.0)
    for j in range (24):
        results_first_predict.append(0.0)
    return results_first_predict

In [25]:
df["Forecasted Generation"] = predictgen(date)

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').

In [28]:
predict_date = date
path = "tongsdata/"
filename = predict_date.replace("_",'-') + '.json'

with open(path + filename, 'r', encoding='utf-8') as fin:
    data_json = json.loads(fin.read())

todayData = {time: data_json[time]['currently'] for time in data_json}
todayData_DF = pd.DataFrame(todayData).T

todayData_DF.index.names=['time_of_day']
todayData_DF = todayData_DF.loc['06:30':'18:00']
todayData_DF = todayData_DF.reset_index()
#todayData_DF['month'] = todayData_DF['time'].apply(datetime.datetime.fromtimestamp).apply(lambda x: x.month)

todayData_DF['cloudCover'] = todayData_DF['cloudCover'].fillna(value=todayData_DF['cloudCover'].mean())
dropcolumns=['icon', 'summary', 'time', 'windBearing', 'windGust', 'ozone', 'precipIntensity', 'precipProbability','pressure','precipType']
for i in dropcolumns:
    if i in todayData_DF.columns:
        todayData_DF = todayData_DF.drop(columns=[i])
#todayData_DF = pd.get_dummies(todayData_DF, columns=['time_of_day', 'precipType', 'uvIndex', 'month'])
todayData_DF = pd.get_dummies(todayData_DF, columns=['time_of_day'])

masterData_for_predict = masterData.drop(columns=['PV Power Generation'])
for i in range(len(masterData_for_predict.columns)) : #drop power balance
    if masterData_for_predict.columns[i] not in todayData_DF.columns:
        todayData_DF.insert(i, masterData.columns[i+1], 0)
missingvalue = todayData_DF[todayData_DF.isna().any(axis=1)].index

col = ['apparentTemperature','cloudCover','dewPoint','humidity','temperature','visibility','windSpeed']
for col in todayData_DF:
    todayData_DF[col] = pd.to_numeric(todayData_DF[col], errors='coerce')
todayData_DF=todayData_DF.interpolate()

In [29]:
todayData_DF

,apparentTemperature,cloudCover,dewPoint,humidity,temperature,uvIndex,visibility,windSpeed,time_of_day_06:30,time_of_day_06:45,...,time_of_day_15:45,time_of_day_16:00,time_of_day_16:15,time_of_day_16:30,time_of_day_16:45,time_of_day_17:00,time_of_day_17:15,time_of_day_17:30,time_of_day_17:45,time_of_day_18:00
0,74.93,0.19,67.26,0.79,74.09,NaN,5.48,4.78,1,0,...,0,0,0,0,0,0,0,0,0,0
1,74.93,0.19,67.26,0.79,74.09,NaN,5.48,5.15,0,1,...,0,0,0,0,0,0,0,0,0,0
2,74.93,0.19,67.26,0.79,74.09,NaN,5.48,5.52,0,0,...,0,0,0,0,0,0,0,0,0,0
3,75.69,0.19,67.71,0.79,74.81,NaN,5.48,5.50,0,0,...,0,0,0,0,0,0,0,0,0,0
4,76.44,0.19,68.16,0.78,75.53,NaN,5.48,5.47,0,0,...,0,0,0,0,0,0,0,0,0,0
5,77.20,0.19,68.61,0.77,76.25,NaN,5.48,5.46,0,0,...,0,0,0,0,0,0,0,0,0,0
6,77.96,0.19,69.06,0.77,76.96,NaN,5.48,5.44,0,0,...,0,0,0,0,0,0,0,0,0,0
7,78.48,0.19,68.18,0.73,77.60,NaN,5.60,6.22,0,0,...,0,0,0,0,0,0,0,0,0,0
8,79.00,0.19,67.22,0.69,78.23,NaN,5.72,7.01,0,0,...,0,0,0,0,0,0,0,0,0,0
9,79.52,0.19,66.18,0.65,78.87,NaN,5.84,7.81,0,0,...,0,0,0,0,0,0,0,0,0,0
10,81.36,0.19,65.04,0.61,79.50,NaN,5.96,8.62,0,0,...,0,0,0,0,0,0,0,0,0,0
11,81.92,0.19,64.05,0.58,80.30,NaN,5.96,9.13,0,0,...,0,0,0,0,0,0,0,0,0,0
12,82.37,0.19,62.94,0.54,81.10,NaN,5.96,9.73,0,0,...,0,0,0,0,0,0,0,0,0,0
13,82.74,0.19,61.72,0.51,81.90,NaN,5.96,10.41,0,0,...,0,0,0,0,0,0,0,0,0,0
14,83.05,0.19,60.35,0.47,82.70,NaN,5.96,11.14,0,0,...,0,0,0,0,0,0,0,0,0,0
15,83.25,0.19,60.54,0.47,82.89,6.000000,5.96,11.00,0,0,...,0,0,0,0,0,0,0,0,0,0
16,83.46,0.19,60.72,0.47,83.07,7.000000,5.96,10.91,0,0,...,0,0,0,0,0,0,0,0,0,0
17,83.67,0.19,60.90,0.47,83.26,7.000000,5.96,10.87,0,0,...,0,0,0,0,0,0,0,0,0,0
18,83.89,0.19,61.09,0.47,83.45,7.000000,5.96,10.88,0,0,...,0,0,0,0,0,0,0,0,0,0
19,84.22,0.19,60.92,0.46,83.90,8.000000,5.96,10.58,0,0,...,0,0,0,0,0,0,0,0,0,0
20,84.56,0.19,60.74,0.45,84.34,8.000000,5.96,10.29,0,0,...,0,0,0,0,0,0,0,0,0,0
21,84.89,0.19,60.55,0.44,84.79,8.000000,5.96,10.01,0,0,...,0,0,0,0,0,0,0,0,0,0
22,85.24,0.19,60.35,0.43,85.24,8.000000,5.96,9.75,0,0,...,0,0,0,0,0,0,0,0,0,0
23,85.71,0.19,60.80,0.43,85.61,8.000000,5.96,9.05,0,0,...,0,0,0,0,0,0,0,0,0,0
24,86.21,0.19,61.25,0.44,85.97,8.000000,5.96,8.51,0,0,...,0,0,0,0,0,0,0,0,0,0
25,86.72,0.19,61.70,0.44,86.34,8.000000,5.96,8.18,0,0,...,0,0,0,0,0,0,0,0,0,0
26,87.25,0.19,62.15,0.44,86.71,8.000000,5.96,8.07,0,0,...,0,0,0,0,0,0,0,0,0,0
27,87.18,0.19,61.97,0.44,86.71,7.000000,5.96,8.87,0,0,...,0,0,0,0,0,0,0,0,0,0
28,87.10,0.19,61.78,0.43,86.71,7.000000,5.96,9.72,0,0,...,0,0,0,0,0,0,0,0,0,0
29,87.03,0.19,61.60,0.43,86.71,6.000000,5.96,10.60,0,0,...,0,0,0,0,0,0,0,0,0,0
30,86.96,0.19,61.41,0.43,86.71,6.000000,5.96,11.51,0,0,...,0,0,0,0,0,0,0,0,0,0
31,86.77,0.19,60.89,0.42,86.71,5.000000,6.02,11.46,0,0,...,0,0,0,0,0,0,0,0,0,0
32,86.71,0.19,60.36,0.41,86.71,5.000000,6.09,11.42,0,0,...,0,0,0,0,0,0,0,0,0,0
33,86.71,0.19,59.83,0.41,86.71,4.000000,6.15,11.38,0,0,...,0,0,0,0,0,0,0,0,0,0
34,86.71,0.19,59.28,0.40,86.71,4.000000,6.22,11.35,0,0,...,0,0,0,0,0,0,0,0,0,0
35,86.98,0.19,59.73,0.40,86.98,3.000000,6.22,10.43,0,0,...,0,0,0,0,0,0,0,0,0,0
36,87.25,0.19,60.18,0.40,87.25,2.000000,6.22,9.55,0,0,...,0,0,0,0,0,0,0,0,0,0
37,87.52,0.19,60.63,0.41,87.52,2.000000,6.22,8.70,0,0,...,1,0,0,0,0,0,0,0,0,0
38,87.87,0.19,61.08,0.41,87.79,1.777778,6.22,7.90,0,0,...,0,1,0,0,0,0,0,0,0,0
39,87.07,0.19,60.63,0.41,87.07,1.555556,6.22,8.11,0,0,...,0,0,1,0,0,0,0,0,0,0
40,86.35,0.19,60.19,0.42,86.35,1.333333,6.22,8.37,0,0,...,0,0,0,1,0,0,0,0,0,0
41,85.63,0.19,59.74,0.42,85.63,1.111111,6.22,8.69,0,0,...,0,0,0,0,1,0,0,0,0,0
42,84.91,0.19,59.29,0.42,84.91,0.888889,6.22,9.06,0,0,...,0,0,0,0,0,1,0,0,0,0
43,84.54,0.19,59.40,0.43,84.54,0.666667,6.22,8.75,0,0,...,0,0,0,0,0,0,1,0,0,0
44,84.18,0.19,59.50,0.43,84.18,0.444444,6.22,8.46,0,0,...,0,0,0,0,0,0,0,1,0,0
45,83.81,0.19,59.60,0.44,83.81,0.222222,6.22,8.19,0,0,...,0,0,0,0,0,0,0,0,1,0
46,83.49,0.19,59.69,0.45,83.45,0.000000,6.22,7.93,0,0,...,0,0,0,0,0,0,0,0,0,1

In [26]:
first_predict = todayData_DF.astype('float').values

results_first_predict = exported_pipeline.predict(first_predict)
results_first_predict = np.array(results_first_predict).tolist()
for i in range(25):
    results_first_predict.insert(0,0.0)
for j in range (24):
    results_first_predict.append(0.0)
results_first_predict

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').