In [2]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [2]:
print(f'pymysql version: {pymysql.__version__}')
print(f'pandas version: {pd.__version__}')

pymysql version: 0.9.3
pandas version: 0.23.4

In [2]:
def writetosql(predict_date,df):
    uid='root'
    pwd='password'
    host='localhost'
    port=3306
    db='test' #change db
    con_string=f'mysql+pymysql://{uid}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    print(f'connection string = {con_string}')
    con=create_engine(con_string)
    df.to_sql(predict_date,con)

In [4]:
def battdata(date):    
    now = date.replace("_","-") +' 00:00:00' #date = predict_date?
    uid='user'
    pwd='the_password'
    host='192.168.1.43'
    port=3306
    db='example' #change to consumption db
    con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #print(f'connection string = {con_string}')
    con=create_engine(con_string)
    #con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
    sql = '''select Generation
             from 2018-11-01
             ''' #เปลี่ยนชื่อ table dbของพี่โอ๊คเป็นแบบrunยาว โดยใช้timestampกำกับ ให้เรียกผ่านtimestamp ออกมาเป็นค่าค่าหนึ่งเลย
    gen = pd.read_sql(sql, con)
    return percentbatt

In [5]:
sql = 
dfbatt =

NameError: name 'create_engine' is not defined

In [24]:
uid='tong'
pwd='the_password'
host='192.168.1.2'
port=3306
db='Chula' #change to consumption db
con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
#con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
#print(f'connection string = {con_string}')
con=create_engine(con_string)

In [25]:
con.table_names()

['HEMS01', 'TEST']

In [ ]:
2019-05-05 11:58:00
2018-01-28 22:30:00

In [ ]:
SELECT * FROM subscription t WHERE t.active_time BETWEEN '2019-05-05 00:00:00' AND '2019-05-05 23:59:59';

In [50]:
sql = "SELECT * FROM HEMS01;"
df1 = pd.read_sql(sql,con)
df1

,Date/Time,PV_Total,PV_Daily,PV_Power,Batt_SOC,Batt_Cap,Batt_Temp,Batt_Volt,P_Load,E_Grid_Today,E_Fed_Today,R30775U5
0,2018-01-28 22:26:45,2336,16206,0,63,99,294,5030,0,0,0,0
1,2018-01-28 22:27:00,2336,16206,0,63,99,294,5030,0,0,0,0
2,2018-01-28 22:27:15,2336,16206,0,63,99,294,5030,0,0,0,0
3,2018-01-28 22:27:30,2336,16206,0,63,99,294,5030,0,0,0,0
4,2018-01-28 22:27:46,2336,16206,0,63,99,294,5030,0,0,0,0
5,2018-01-28 22:28:00,2336,16206,0,63,99,294,5030,0,0,0,0
6,2018-01-28 22:28:15,2336,16206,0,63,99,294,5030,0,0,0,0
7,2018-01-28 22:28:30,2336,16,0,63,99,29,50,0,0,0,0
8,2018-01-28 22:28:45,2336,16,0,63,99,29,50,0,0,0,0
9,2018-01-28 22:29:15,2336,16206,0,63,99,294,5030,0,0,0,0
10,2018-01-28 22:29:30,2336,16206,0,63,99,294,5030,0,0,0,0
11,2018-01-28 22:29:46,2336,16206,0,63,99,294,5030,0,0,0,0
12,2018-01-28 22:30:00,2336,16206,0,63,99,294,5030,0,0,0,0
13,2018-01-28 22:30:15,2336,16206,0,63,99,294,5030,0,0,0,0
14,2018-01-28 22:30:30,2336,16206,0,63,99,294,5030,0,0,0,0
15,2018-01-28 22:30:45,2336,16206,0,63,99,294,5030,0,0,0,0
16,2018-01-28 22:31:00,2336,16206,0,63,99,294,5030,0,0,0,0
17,2018-01-28 22:31:15,2336,16206,0,63,99,294,5030,0,0,0,0
18,2018-01-28 22:31:30,2336,16206,0,63,99,294,5030,0,0,0,0
19,2018-01-28 22:31:45,2336,16206,0,63,99,294,5030,0,0,0,0
20,2018-01-28 22:32:00,2336,16206,0,63,99,294,5030,0,0,0,0
21,2018-01-28 22:32:15,2336,16206,0,63,99,294,5030,0,0,0,0
22,2018-01-28 22:32:30,2336,16206,0,63,99,294,5030,0,0,0,0
23,2018-01-28 22:32:45,2336,16206,0,63,99,294,5030,0,0,0,0
24,2018-01-28 22:33:00,2336,16206,0,63,99,294,5030,0,0,0,0
25,2018-01-28 22:33:15,2336,16206,0,63,99,294,5030,0,0,0,0
26,2018-01-28 22:33:30,2336,16206,0,63,99,294,5030,0,0,0,0
27,2018-01-28 22:33:45,2336,16206,0,63,99,294,5030,0,0,0,0
28,2018-01-28 22:34:00,2336,16206,0,63,99,294,5030,0,0,0,0
29,2018-01-28 22:34:15,2336,16206,0,63,99,294,5030,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
180399,2019-05-05 12:49:30,8640,11214,1283,90,82,352,5260,6,19100,1000,410
180400,2019-05-05 12:49:45,8640,11214,1283,90,82,352,5260,6,19100,1000,410
180401,2019-05-05 12:50:00,8640,11246,1283,90,82,352,5260,6,19100,1000,410
180402,2019-05-05 12:50:15,8640,11246,1283,90,82,352,5260,6,19100,1000,410
180403,2019-05-05 12:50:30,8640,11246,2625,90,82,352,5320,0,19100,1000,64876
180404,2019-05-05 12:50:45,8640,11246,2625,90,82,352,5320,0,19100,1000,64876
180405,2019-05-05 12:51:00,8640,11276,2625,90,82,352,5320,0,19100,1000,64876
180406,2019-05-05 12:51:16,8640,11276,2625,90,82,352,5320,0,19100,1000,64876
180407,2019-05-05 12:51:30,8640,11276,1603,90,82,352,5610,0,19100,1000,64946
180408,2019-05-05 12:51:45,8640,11276,1603,90,82,352,5610,0,19100,1000,64946
180409,2019-05-05 12:52:00,8640,11307,1603,90,82,352,5610,0,19100,1000,64946
180410,2019-05-05 12:52:15,8640,11307,1603,90,82,352,5610,0,19100,1000,64946
180411,2019-05-05 12:52:30,8640,11307,1578,90,82,353,5610,0,19100,1000,65226
180412,2019-05-05 12:52:45,8640,11307,1578,90,82,353,5610,0,19100,1000,65226
180413,2019-05-05 12:53:00,8640,11334,1578,90,82,353,5610,0,19100,1000,65226
180414,2019-05-05 12:53:15,8640,11334,1578,90,82,353,5610,0,19100,1000,65226
180415,2019-05-05 12:53:30,8640,11334,2027,90,82,353,5610,0,19100,1000,65286
180416,2019-05-05 12:53:45,8640,11334,2027,90,82,353,5610,0,19100,1000,65286
180417,2019-05-05 12:54:00,8640,11358,2027,90,82,353,5610,0,19100,1000,65286
180418,2019-05-05 12:54:15,8640,11358,2027,90,82,353,5610,0,19100,1000,65286
180419,2019-05-05 12:54:30,8640,11358,1068,90,82,353,5170,982,19100,1000,990
180420,2019-05-05 12:54:45,8640,11358,1068,90,82,353,5170,982,19100,1000,990
180421,2019-05-05 12:55:00,8640,11376,1068,90,82,353,5170,982,19100,1000,990
180422,2019-05-05 12:55:15,8640,11376,1068,90,82,353,5170,982,19100,1000,990
180423,2019-05-05 12:55:30,8640,11376,1140,90,82,353,5140,789,19100,1000,740
180424,2019-05-05 12:55:45,8640,11376,1140,90,82,353,5140,789,19100,1000,740
180425,2019-05-05 12:56:00,8640,11394,1140,90,82,353,5140,789,19100,1000,740
180426,2019-05-05 12:56:15,8640,11394,1140,90,82,353,5140,789,19100,1000,740
180427,2019-05-05 12:56:30,8640,11394,1120,90,82,353,5140,772,19100,1000,770
180428,2019-05-05 12:56:45,8640,11394,1120,90,82,353,5140,772,19100,1000,770

In [ ]:
df1["Date/Time"]

In [32]:
df1.dtypes

Date/Time       datetime64[ns]
PV_Total                 int64
PV_Daily                 int64
PV_Power                 int64
Batt_SOC                 int64
Batt_Cap                 int64
Batt_Temp                int64
Batt_Volt                int64
P_Load                   int64
E_Grid_Today             int64
E_Fed_Today              int64
R30775U5                 int64
dtype: object

In [ ]:
#con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
sql = '''select Generation
         from 2018-11-01
         ''' #เปลี่ยนชื่อ table dbของพี่โอ๊คเป็นแบบrunยาว โดยใช้timestampกำกับ ให้เรียกผ่านtimestamp ออกมาเป็นค่าค่าหนึ่งเลย
gen = pd.read_sql(sql, con)
return percentbatt