In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [2]:
print(f'pymysql version: {pymysql.__version__}')
print(f'pandas version: {pd.__version__}')

pymysql version: 0.9.3
pandas version: 0.23.4

In [3]:
uid='root'
#pwd='relational'
host='localhost'
port=3306
db='test'
con_string=f'mysql+pymysql://{uid}@{host}:{port}/{db}'
#con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
print(f'connection string = {con_string}')
con=create_engine(con_string)
# con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')

connection string = mysql+pymysql://root@localhost:3306/test

In [21]:
df.to_sql('2018_11_01',con,index=True,index_label='id')

In [ ]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

uid='root'
#pwd='relational'
host='localhost'
port=3306
db='test' #change db
con_string=f'mysql+pymysql://{uid}@{host}:{port}/{db}'
#con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
print(f'connection string = {con_string}')
con=create_engine(con_string)


df.to_sql(predict_date,con)

In [13]:
def confromsql(predict_date):
    uid='root'
    #pwd='relational'
    host='localhost'
    port=3306
    db='test' #change to consumption db
    con_string=f'mysql+pymysql://{uid}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #print(f'connection string = {con_string}')
    con=create_engine(con_string)
    # con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
    sql = 'select * from ' + predict_date
    dfcon = pd.read_sql(sql, con)

In [4]:
def clean2(path):
    rawdata=pd.read_csv(path+".csv", delimiter=";" )
    deleteindex=rawdata.loc[rawdata.loc[pd.IndexSlice[:,'Battery discharging / Mean values [W] ']]==' '].index
    rawdata.drop(deleteindex,inplace=True)
    rawdata.rename(columns={' ':'Time'},inplace=True)
    rawdata['Time']=rawdata['Time'].str.replace('[^\d]','')
    rawdata['Time']=path[15:19]+path[20:22]+path[23:]+rawdata['Time']
    rawdata['Time']=pd.to_datetime(rawdata.Time)
    rawdata.set_index('Time', inplace=True)
    for i in rawdata.columns:
        if i != 'Direct consumption / Mean values [W] ' and i != 'Battery discharging / Mean values [W] ' and i!='External energy supply / Mean values [W] ' and i != 'PV power generation / Mean values [W]  'and i!= 'Battery charging / Mean values [W]  ':
            rawdata.drop([i],axis=1,inplace=True)
    for i in rawdata.columns:
        rawdata[i].fillna('0',inplace=True)
        rawdata[i]=rawdata[i].apply(lambda x: x.replace(' ', '0'))
        rawdata[i]=rawdata[i].str.replace('\D','').astype(int)
    rawdata['Consumption']=rawdata['Direct consumption / Mean values [W] ']+rawdata['Battery discharging / Mean values [W] ']+rawdata['External energy supply / Mean values [W] ']
    rawdata.rename(columns={'PV power generation / Mean values [W]  ':'Generation'},inplace=True)
    rawdata.drop(['Direct consumption / Mean values [W] ','External energy supply / Mean values [W] '],axis=1,inplace=True)
    rawdata.rename(columns={'Battery discharging / Mean values [W] ':'Discharge'},inplace=True)
    rawdata.rename(columns={'Battery charging / Mean values [W]  ':'Charge'},inplace=True)    
    return rawdata

In [5]:
predict_date='2018_12_01'
num_day=30

predict_day=int(predict_date[8:])
predict_month=int(predict_date[5:7])
predict_year=int(predict_date[0:4])

daybefore=[]
pmb=predict_month-1
dayleft=num_day-predict_day

if predict_day>num_day:
    day=predict_day-num_day
    while day<predict_day:
        daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(day).zfill(2))
        day+=1
else:
    if pmb==1 or pmb==3 or pmb==5 or pmb==7 or pmb==8 or pmb==10 or pmb==12:
        for i in range(31-dayleft,32,1):
            daybefore.append(str(predict_year)+'_'+str(pmb).zfill(2)+'_'+str(i).zfill(2))
        for i in range(1,predict_day,1):
            daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(i).zfill(2))
    elif pmb==4 or pmb==6 or pmb==9 or pmb==11:
        for i in range(30-dayleft,31,1):
            daybefore.append(str(predict_year)+'_'+str(pmb).zfill(2)+'_'+str(i).zfill(2))
        for i in range(1,predict_day,1):
            daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(i).zfill(2))
    else:
        if predict_year%4==0:
            for i in range(29-dayleft,30,1):
                daybefore.append(str(predict_year)+'_'+str(pmb).zfill(2)+'_'+str(i).zfill(2))
            for i in range(1,predict_day,1):
                daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(i).zfill(2))
        else:
            for i in range(28-dayleft,29,1):
                daybefore.append(str(predict_year)+'_'+str(pmb).zfill(2)+'_'+str(i).zfill(2))
            for i in range(1,predict_day,1):
                daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(i).zfill(2))

daybefore

['2018_11_01',
 '2018_11_02',
 '2018_11_03',
 '2018_11_04',
 '2018_11_05',
 '2018_11_06',
 '2018_11_07',
 '2018_11_08',
 '2018_11_09',
 '2018_11_10',
 '2018_11_11',
 '2018_11_12',
 '2018_11_13',
 '2018_11_14',
 '2018_11_15',
 '2018_11_16',
 '2018_11_17',
 '2018_11_18',
 '2018_11_19',
 '2018_11_20',
 '2018_11_21',
 '2018_11_22',
 '2018_11_23',
 '2018_11_24',
 '2018_11_25',
 '2018_11_26',
 '2018_11_27',
 '2018_11_28',
 '2018_11_29',
 '2018_11_30']

In [12]:
for i in daybefore:
    filename = "Energy_Balance_" + i
    df = clean2(filename)
    df.to_sql(i,con)

In [7]:
filename

'Energy_Balance_2018_11_01.csv'