In [1]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

In [2]:
print(f'pymysql version: {pymysql.__version__}')
print(f'pandas version: {pd.__version__}')

pymysql version: 0.9.3
pandas version: 0.23.4

In [3]:
uid='user'
pwd='the_password'
host='192.168.1.43'
port=3306
db='example'
#con_string=f'mysql+pymysql://{uid}@{host}:{port}/{db}'
con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
print(f'connection string = {con_string}')
con=create_engine(con_string)
# con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')

connection string = mysql+pymysql://user:the_password@192.168.1.43:3306/example

In [5]:
df.to_sql('2018_11_01',con,index=True,index_label='id')

NameError: name 'df' is not defined

In [ ]:
from sqlalchemy import create_engine
import pymysql
import pandas as pd

uid='root'
#pwd='relational'
host='localhost'
port=3306
db='test' #change db
con_string=f'mysql+pymysql://{uid}@{host}:{port}/{db}'
#con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
print(f'connection string = {con_string}')
con=create_engine(con_string)


df.to_sql(predict_date,con)

In [13]:
def confromsql(predict_date):
    uid='root'
    #pwd='relational'
    host='localhost'
    port=3306
    db='test' #change to consumption db
    con_string=f'mysql+pymysql://{uid}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #print(f'connection string = {con_string}')
    con=create_engine(con_string)
    # con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
    sql = 'select * from ' + predict_date
    dfcon = pd.read_sql(sql, con)

In [4]:
def clean2(path):
    rawdata=pd.read_csv(path+".csv", delimiter=";" )
    deleteindex=rawdata.loc[rawdata.loc[pd.IndexSlice[:,'Battery discharging / Mean values [W] ']]==' '].index
    rawdata.drop(deleteindex,inplace=True)
    rawdata.rename(columns={' ':'Time'},inplace=True)
    rawdata['Time']=rawdata['Time'].str.replace('[^\d]','')
    rawdata['Time']=path[15:19]+path[20:22]+path[23:]+rawdata['Time']
    rawdata['Time']=pd.to_datetime(rawdata.Time)
    rawdata.set_index('Time', inplace=True)
    for i in rawdata.columns:
        if i != 'Direct consumption / Mean values [W] ' and i != 'Battery discharging / Mean values [W] ' and i!='External energy supply / Mean values [W] ' and i != 'PV power generation / Mean values [W]  'and i!= 'Battery charging / Mean values [W]  ':
            rawdata.drop([i],axis=1,inplace=True)
    for i in rawdata.columns:
        rawdata[i].fillna('0',inplace=True)
        rawdata[i]=rawdata[i].apply(lambda x: x.replace(' ', '0'))
        rawdata[i]=rawdata[i].str.replace('\D','').astype(int)
    rawdata['Consumption']=rawdata['Direct consumption / Mean values [W] ']+rawdata['Battery discharging / Mean values [W] ']+rawdata['External energy supply / Mean values [W] ']
    rawdata.rename(columns={'PV power generation / Mean values [W]  ':'Generation'},inplace=True)
    rawdata.drop(['Direct consumption / Mean values [W] ','External energy supply / Mean values [W] '],axis=1,inplace=True)
    rawdata.rename(columns={'Battery discharging / Mean values [W] ':'Discharge'},inplace=True)
    rawdata.rename(columns={'Battery charging / Mean values [W]  ':'Charge'},inplace=True)    
    return rawdata

In [5]:
predict_date='2018_12_01'
num_day=30

predict_day=int(predict_date[8:])
predict_month=int(predict_date[5:7])
predict_year=int(predict_date[0:4])

daybefore=[]
pmb=predict_month-1
dayleft=num_day-predict_day

if predict_day>num_day:
    day=predict_day-num_day
    while day<predict_day:
        daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(day).zfill(2))
        day+=1
else:
    if pmb==1 or pmb==3 or pmb==5 or pmb==7 or pmb==8 or pmb==10 or pmb==12:
        for i in range(31-dayleft,32,1):
            daybefore.append(str(predict_year)+'_'+str(pmb).zfill(2)+'_'+str(i).zfill(2))
        for i in range(1,predict_day,1):
            daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(i).zfill(2))
    elif pmb==4 or pmb==6 or pmb==9 or pmb==11:
        for i in range(30-dayleft,31,1):
            daybefore.append(str(predict_year)+'_'+str(pmb).zfill(2)+'_'+str(i).zfill(2))
        for i in range(1,predict_day,1):
            daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(i).zfill(2))
    else:
        if predict_year%4==0:
            for i in range(29-dayleft,30,1):
                daybefore.append(str(predict_year)+'_'+str(pmb).zfill(2)+'_'+str(i).zfill(2))
            for i in range(1,predict_day,1):
                daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(i).zfill(2))
        else:
            for i in range(28-dayleft,29,1):
                daybefore.append(str(predict_year)+'_'+str(pmb).zfill(2)+'_'+str(i).zfill(2))
            for i in range(1,predict_day,1):
                daybefore.append(str(predict_year)+'_'+str(predict_month).zfill(2)+'_'+str(i).zfill(2))

daybefore

['2018_11_01',
 '2018_11_02',
 '2018_11_03',
 '2018_11_04',
 '2018_11_05',
 '2018_11_06',
 '2018_11_07',
 '2018_11_08',
 '2018_11_09',
 '2018_11_10',
 '2018_11_11',
 '2018_11_12',
 '2018_11_13',
 '2018_11_14',
 '2018_11_15',
 '2018_11_16',
 '2018_11_17',
 '2018_11_18',
 '2018_11_19',
 '2018_11_20',
 '2018_11_21',
 '2018_11_22',
 '2018_11_23',
 '2018_11_24',
 '2018_11_25',
 '2018_11_26',
 '2018_11_27',
 '2018_11_28',
 '2018_11_29',
 '2018_11_30']

In [12]:
for i in daybefore:
    filename = "Energy_Balance_" + i
    df = clean2(filename)
    df.to_sql(i,con)

In [7]:
filename

'Energy_Balance_2018_11_01.csv'

In [5]:
df = clean2("Energy_Balance_2018_11_01")

In [6]:
df

                     Discharge  Charge  Generation  Consumption
Time
2018-11-01 00:15:00          0       0           0         1615
2018-11-01 00:30:00          0       0           0         1934
2018-11-01 00:45:00          0       0           0         1655
2018-11-01 01:00:00          0       0           0         1512
2018-11-01 01:15:00          0       0           0         1871
2018-11-01 01:30:00          0       0           0         1563
2018-11-01 01:45:00          0       0           0         1522
2018-11-01 02:00:00          0       0           0         1293
2018-11-01 02:15:00          0       0           0         1685
2018-11-01 02:30:00          0       0           0         1480
2018-11-01 02:45:00          0       0           0         1494
2018-11-01 03:00:00          0       0           0         1402
2018-11-01 03:15:00          0       0           0         1368
2018-11-01 03:30:00          0       0           0         1388
2018-11-01 03:45:00          0       0           0          914
2018-11-01 04:00:00          0       0           0          811
2018-11-01 04:15:00          0       0           0         1302
2018-11-01 04:30:00          0       0           0         1225
2018-11-01 04:45:00          0       0           0         1050
2018-11-01 05:00:00          0       0           0         2777
2018-11-01 05:15:00          0       0           0         1437
2018-11-01 05:30:00          0       0           0         3332
2018-11-01 05:45:00          0       0           0         1082
2018-11-01 06:00:00          0       0           0          775
2018-11-01 06:15:00          0       0           0          829
2018-11-01 06:30:00          0       0           2         1587
2018-11-01 06:45:00          0       0          62          721
2018-11-01 07:00:00          0       0         156          716
2018-11-01 07:15:00          0       0         301          898
2018-11-01 07:30:00          0       0         592          854
...                        ...     ...         ...          ...
2018-11-01 16:45:00        654       0         250          908
2018-11-01 17:00:00       1028       0         151         1184
2018-11-01 17:15:00       1917       0         106         2022
2018-11-01 17:30:00       1484       0          63         1548
2018-11-01 17:45:00       1353       0          31         2163
2018-11-01 18:00:00        934       0           3         1951
2018-11-01 18:15:00        706       0           0         2103
2018-11-01 18:30:00          0       1           0         1991
2018-11-01 18:45:00          0       0           0         3479
2018-11-01 19:00:00          0       1           0         2139
2018-11-01 19:15:00          1       0           0         3133
2018-11-01 19:30:00          1       0           0         2214
2018-11-01 19:45:00          0       1           0         2139
2018-11-01 20:00:00          0       2           0         3086
2018-11-01 20:15:00          0       1           0         2882
2018-11-01 20:30:00          0       0           0         4512
2018-11-01 20:45:00          0       0           0         2559
2018-11-01 21:00:00          2       0           0         3040
2018-11-01 21:15:00          0       1           0         3018
2018-11-01 21:30:00          1       0           0         2173
2018-11-01 21:45:00          0       0           0         2229
2018-11-01 22:00:00          0       0           0         3210
2018-11-01 22:15:00          0       1           0         3700
2018-11-01 22:30:00          0       0           0         2961
2018-11-01 22:45:00          0       0           0         2792
2018-11-01 23:00:00          0       0           0         2252
2018-11-01 23:15:00          0       0           0         1670
2018-11-01 23:30:00          0       0           0         1804
2018-11-01 23:45:00          0       0           0         1789
2018-11-01 00:00:00          0       0           0         1769

[96 rows x 4 columns]

In [18]:
df.to_sql("t1",con)

In [8]:
def battdata(date):    
    now = date.replace("_","-") +' 00:00:00' #date = predict_date?
    uid='user'
    pwd='the_password'
    host='192.168.1.43'
    port=3306
    db='example' #change to consumption db
    con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #print(f'connection string = {con_string}')
    con=create_engine(con_string)
    #con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
    sql = '''select Generation
             from 2018-11-01
             ''' #เปลี่ยนชื่อ table dbของพี่โอ๊คเป็นแบบrunยาว โดยใช้timestampกำกับ ให้เรียกผ่านtimestamp ออกมาเป็นค่าค่าหนึ่งเลย
    gen = pd.read_sql(sql, con)
    return percentbatt

In [9]:
dfbatt = battdata("2018_11_01")

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near '2018-11-01' at line 2") [SQL: 'select Generation\n             from 2018-11-01\n             '] (Background on this error at: http://sqlalche.me/e/f405)

In [10]:
con.table_names()

['2018-11-01']

In [57]:
sql = "SELECT Consumption FROM `2018-11-01` WHERE Time ='2018-11-01 01:00:00';"
df1 = pd.read_sql(sql,con)
df1

   Consumption
0         1512

In [47]:
df1.dtypes

Time           datetime64[ns]
Discharge               int64
Charge                  int64
Generation              int64
Consumption             int64
dtype: object

In [49]:
sql = "SELECT * FROM `t1` WHERE Time >='2018-11-01 00:00:00'AND Time <'2018-11-01 23:00:00';"
df2 = pd.read_sql(sql,con)
df2

                  Time  Discharge  Charge  Generation  Consumption
0  2018-11-01 00:15:00          0       0           0         1615
1  2018-11-01 00:30:00          0       0           0         1934
2  2018-11-01 00:45:00          0       0           0         1655
3  2018-11-01 01:00:00          0       0           0         1512
4  2018-11-01 01:15:00          0       0           0         1871
5  2018-11-01 01:30:00          0       0           0         1563
6  2018-11-01 01:45:00          0       0           0         1522
7  2018-11-01 02:00:00          0       0           0         1293
8  2018-11-01 02:15:00          0       0           0         1685
9  2018-11-01 02:30:00          0       0           0         1480
10 2018-11-01 02:45:00          0       0           0         1494
11 2018-11-01 03:00:00          0       0           0         1402
12 2018-11-01 03:15:00          0       0           0         1368
13 2018-11-01 03:30:00          0       0           0         1388
14 2018-11-01 03:45:00          0       0           0          914
15 2018-11-01 04:00:00          0       0           0          811
16 2018-11-01 04:15:00          0       0           0         1302
17 2018-11-01 04:30:00          0       0           0         1225
18 2018-11-01 04:45:00          0       0           0         1050
19 2018-11-01 05:00:00          0       0           0         2777
20 2018-11-01 05:15:00          0       0           0         1437
21 2018-11-01 05:30:00          0       0           0         3332
22 2018-11-01 05:45:00          0       0           0         1082
23 2018-11-01 06:00:00          0       0           0          775
24 2018-11-01 06:15:00          0       0           0          829
25 2018-11-01 06:30:00          0       0           2         1587
26 2018-11-01 06:45:00          0       0          62          721
27 2018-11-01 07:00:00          0       0         156          716
28 2018-11-01 07:15:00          0       0         301          898
29 2018-11-01 07:30:00          0       0         592          854
..                 ...        ...     ...         ...          ...
62 2018-11-01 15:45:00          0      28         940          913
63 2018-11-01 16:00:00        231       0         734          967
64 2018-11-01 16:15:00        205       0         557          763
65 2018-11-01 16:30:00        388       0         355          746
66 2018-11-01 16:45:00        654       0         250          908
67 2018-11-01 17:00:00       1028       0         151         1184
68 2018-11-01 17:15:00       1917       0         106         2022
69 2018-11-01 17:30:00       1484       0          63         1548
70 2018-11-01 17:45:00       1353       0          31         2163
71 2018-11-01 18:00:00        934       0           3         1951
72 2018-11-01 18:15:00        706       0           0         2103
73 2018-11-01 18:30:00          0       1           0         1991
74 2018-11-01 18:45:00          0       0           0         3479
75 2018-11-01 19:00:00          0       1           0         2139
76 2018-11-01 19:15:00          1       0           0         3133
77 2018-11-01 19:30:00          1       0           0         2214
78 2018-11-01 19:45:00          0       1           0         2139
79 2018-11-01 20:00:00          0       2           0         3086
80 2018-11-01 20:15:00          0       1           0         2882
81 2018-11-01 20:30:00          0       0           0         4512
82 2018-11-01 20:45:00          0       0           0         2559
83 2018-11-01 21:00:00          2       0           0         3040
84 2018-11-01 21:15:00          0       1           0         3018
85 2018-11-01 21:30:00          1       0           0         2173
86 2018-11-01 21:45:00          0       0           0         2229
87 2018-11-01 22:00:00          0       0           0         3210
88 2018-11-01 22:15:00          0       1           0         3700
89 2018-11-01 22:30:00          0       0           0         2961
90 2018-11-01 22:45:00          0       0           0         2792
91 2018-11-01 00:00:00          0       0           0         1769

[92 rows x 5 columns]

In [51]:
df2.sort_values(by='Time')

                  Time  Discharge  Charge  Generation  Consumption
91 2018-11-01 00:00:00          0       0           0         1769
0  2018-11-01 00:15:00          0       0           0         1615
1  2018-11-01 00:30:00          0       0           0         1934
2  2018-11-01 00:45:00          0       0           0         1655
3  2018-11-01 01:00:00          0       0           0         1512
4  2018-11-01 01:15:00          0       0           0         1871
5  2018-11-01 01:30:00          0       0           0         1563
6  2018-11-01 01:45:00          0       0           0         1522
7  2018-11-01 02:00:00          0       0           0         1293
8  2018-11-01 02:15:00          0       0           0         1685
9  2018-11-01 02:30:00          0       0           0         1480
10 2018-11-01 02:45:00          0       0           0         1494
11 2018-11-01 03:00:00          0       0           0         1402
12 2018-11-01 03:15:00          0       0           0         1368
13 2018-11-01 03:30:00          0       0           0         1388
14 2018-11-01 03:45:00          0       0           0          914
15 2018-11-01 04:00:00          0       0           0          811
16 2018-11-01 04:15:00          0       0           0         1302
17 2018-11-01 04:30:00          0       0           0         1225
18 2018-11-01 04:45:00          0       0           0         1050
19 2018-11-01 05:00:00          0       0           0         2777
20 2018-11-01 05:15:00          0       0           0         1437
21 2018-11-01 05:30:00          0       0           0         3332
22 2018-11-01 05:45:00          0       0           0         1082
23 2018-11-01 06:00:00          0       0           0          775
24 2018-11-01 06:15:00          0       0           0          829
25 2018-11-01 06:30:00          0       0           2         1587
26 2018-11-01 06:45:00          0       0          62          721
27 2018-11-01 07:00:00          0       0         156          716
28 2018-11-01 07:15:00          0       0         301          898
..                 ...        ...     ...         ...          ...
61 2018-11-01 15:30:00        418       0        1098         1484
62 2018-11-01 15:45:00          0      28         940          913
63 2018-11-01 16:00:00        231       0         734          967
64 2018-11-01 16:15:00        205       0         557          763
65 2018-11-01 16:30:00        388       0         355          746
66 2018-11-01 16:45:00        654       0         250          908
67 2018-11-01 17:00:00       1028       0         151         1184
68 2018-11-01 17:15:00       1917       0         106         2022
69 2018-11-01 17:30:00       1484       0          63         1548
70 2018-11-01 17:45:00       1353       0          31         2163
71 2018-11-01 18:00:00        934       0           3         1951
72 2018-11-01 18:15:00        706       0           0         2103
73 2018-11-01 18:30:00          0       1           0         1991
74 2018-11-01 18:45:00          0       0           0         3479
75 2018-11-01 19:00:00          0       1           0         2139
76 2018-11-01 19:15:00          1       0           0         3133
77 2018-11-01 19:30:00          1       0           0         2214
78 2018-11-01 19:45:00          0       1           0         2139
79 2018-11-01 20:00:00          0       2           0         3086
80 2018-11-01 20:15:00          0       1           0         2882
81 2018-11-01 20:30:00          0       0           0         4512
82 2018-11-01 20:45:00          0       0           0         2559
83 2018-11-01 21:00:00          2       0           0         3040
84 2018-11-01 21:15:00          0       1           0         3018
85 2018-11-01 21:30:00          1       0           0         2173
86 2018-11-01 21:45:00          0       0           0         2229
87 2018-11-01 22:00:00          0       0           0         3210
88 2018-11-01 22:15:00          0       1           0         3700
89 2018-11-01 22:30:00          0       0           0         2961
90 2018-11-01 22:45:00          0       0           0         2792

[92 rows x 5 columns]

In [73]:
def pulldata(date):    
    now = date.replace("_","-") #date = predict_date?
    uid='user'
    pwd='the_password'
    host='192.168.1.43'
    port=3306
    db='example' #change to consumption db
    con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #con_string=f'mysql+pymysql://{uid}:{pwd}@{host}:{port}/{db}'
    #print(f'connection string = {con_string}')
    con=create_engine(con_string)
    #con = create_engine('mysql+pymysql://guest:relational@relational.fit.cvut.cz:3306/imdb_small')
    sql_gen = '''SELECT Generation 
                FROM `2018-11-01` 
                WHERE Time ='2018-11-01 07:00:00';'''
    sql_con = '''SELECT Consumption 
                FROM `2018-11-01` 
                WHERE Time ='2018-11-01 01:00:00';'''
    real_gen = pd.read_sql(sql_gen, con)
    real_con = pd.read_sql(sql_con, con)
    return real_gen, real_con

In [74]:
pulldata("2018-11-01")

(   Generation
 0         156,    Consumption
 0         1512)

In [84]:
real_gen,real_con = pulldata("2018-11-01")
real_con

   Consumption
0         1512

Generation    int64
dtype: object

In [71]:
import numpy as np

In [78]:
def maape(actual: np.ndarray, predicted: np.ndarray):
    """
    Mean Arctangent Absolute Percentage Error
    Note: result is NOT multiplied by 100
    """
    EPSILON = 1e-10
    return np.mean(np.arctan(np.abs((actual - predicted) / (actual + EPSILON))))

In [79]:
Gen_error = maape(200,real_gen)

In [80]:
Gen_error

Generation    0.21655
dtype: float64